{{ '_secure-pay-container.css' | asset_url | stylesheet_tag }}

<div class="secure-pay-container flex-column">
  <svg class="logos-box" xmlns="http://www.w3.org/2000/svg">
    <symbol id="logo-visa" viewBox="0 0 32 10.3">
        <path d="M11.3 10.2l1.6-10h2.6l-1.6 10L11.3 10.2" fill="#2B3894"></path>
        <path d="M23.3 0.4c-2.3-0.9-6.6-0.3-6.7 2.9 0 1.5 1.3 2.2 2.3 2.7 0.4 0.2 1 0.4 1.2 0.9 0.2 0.4 0 0.9-0.4 1.1 -0.5 0.3-1.2 0.3-1.8 0.2 -0.6-0.1-1.2-0.3-1.8-0.5l-0.3-0.2 -0.4 2.2c0.8 0.4 1.8 0.5 2.7 0.5 0.8 0 1.7-0.1 2.4-0.4 1.3-0.5 2.2-1.6 2.2-3 0-1.1-0.7-2-2.2-2.7 -0.4-0.2-1.5-0.6-1.5-1.3 0-0.7 0.9-0.8 1.5-0.8 0.8 0 1.5 0.2 2 0.4l0.2 0.1L23.3 0.4" fill="#2B3894"></path>
        <path d="M26.7 6.6c0.2-0.6 1-2.8 1-2.8 0 0 0.2-0.6 0.3-0.9l0.2 0.9c0 0 0.5 2.4 0.6 2.9C28.4 6.6 27.2 6.6 26.7 6.6 26.9 6.1 26.7 6.6 26.7 6.6zM29.9 0.2h-2c-0.6 0-1.1 0.2-1.4 0.8l-3.8 9.2h2.7c0 0 0.4-1.2 0.6-1.5 0.3 0 3 0 3.3 0 0.1 0.3 0.3 1.5 0.3 1.5H32L29.9 0.2" fill="#2B3894"></path>
        <path d="M9.1 0.2L6.6 7 6.3 5.6C5.8 4 4.4 2.3 2.7 1.4L5 10.2h2.7l4.1-10L9.1 0.2" fill="#2B3894"></path>
        <path d="M4.2 0.2H0l0 0.2c3.2 0.8 5.4 2.8 6.3 5.2L5.4 1C5.2 0.4 4.8 0.2 4.2 0.2" fill="#F79510"></path>
    </symbol>

    <symbol id="logo-mastercard" viewBox="0 0 32 19.2">
        <path d="M32 9.6c0 4-2.6 7.7-6.3 9 -3.8 1.4-8.1 0.2-10.7-2.9 -1.4-1.7-2.2-3.9-2.2-6.1l0 0c0-5.3 4.3-9.6 9.6-9.6C27.7 0 32 4.3 32 9.6 32 9.6 32 9.6 32 9.6z" fill="#F90"></path>
        <path d="M9.5 0c-4.8 0-9 3.8-9.4 8.6C-0.4 13.5 2.8 18 7.6 19c3 0.6 6.2-0.2 8.5-2.3l0 0 0 0c0.3-0.3 0.7-0.7 1-1h-2c-0.3-0.3-0.5-0.6-0.7-1h3.4c0.2-0.3 0.4-0.7 0.6-1h-4.5c-0.2-0.3-0.3-0.7-0.4-1h5.3c0.5-1.6 0.6-3.4 0.3-5.1h-5.9c0.1-0.3 0.2-0.7 0.3-1h5.3c-0.1-0.3-0.3-0.7-0.4-1h-4.5c0.2-0.3 0.3-0.7 0.6-1h3.4c-0.2-0.4-0.5-0.7-0.7-1h-1.9c0.3-0.3 0.6-0.7 1-1C14.3 0.9 12 0 9.5 0 9.5 0 9.5 0 9.5 0z" fill="#C00"></path>
        <path d="M13 12.1l0.1-0.9c-0.2 0-0.7 0.1-0.6-0.3l0.3-1.8h0.6l0.1-1h-0.5L13 7.6h-1c0 0 0 0.2-0.1 0.2 0 0.2-0.1 0.4-0.1 0.6 -0.1 0.5-0.2 1-0.3 1.6 -0.1 0.7-0.6 2.3 0.6 2.3C12.6 12.2 12.9 12.1 13 12.1z" fill="#FFF"></path>
        <path d="M13.3 10.4c0 0.8 0.3 1.4 1.1 1.7 0.5 0.2 1.3 0.2 1.7-0.1l0.2-1c-0.6 0.2-2.2 0.5-2-0.6h2.1c0.1-0.5 0.2-1 0.1-1.4 -0.2-0.6-0.7-1-1.4-1C14.1 8.1 13.3 9.1 13.3 10.4zM15.1 9c0.6 0 0.5 0.6 0.5 0.7h-1.1C14.4 9.6 14.6 9 15.1 9z" fill="#FFF"></path>
        <path d="M21.6 12.1l0.2-1.1c-0.4 0.2-1 0.4-1.4 0.1 -0.5-0.3-0.5-1-0.4-1.5 0.1-0.5 0.3-1 0.9-1.3 0.5-0.2 1 0 1.4 0.2l0.2-1.1c0 0-0.6-0.2-1.2-0.2 -1.3 0-2.1 1.1-2.3 2.4 -0.2 1.3 0.3 2.7 1.8 2.7C21 12.2 21.6 12.1 21.6 12.1z" fill="#FFF"></path>
        <path d="M7.4 8.1c-0.7 0-1.2 0.2-1.2 0.2L6 9.1C6.3 9 6.7 9 7.1 9 7.5 9 7.9 9 7.7 9.6c-1.1-0.1-2.4 0.3-2.2 1.7 0.1 1 1.4 1.2 2 0.5l0 0.4h0.9l0.4-2.8C8.8 8.1 7.7 8.1 7.4 8.1zM7.6 10.4c0.1 0.4-0.4 1.3-0.9 0.9 -0.2-0.1-0.2-0.4-0.1-0.6 0.2-0.3 0.6-0.3 0.9-0.3C7.6 10.3 7.6 10.3 7.6 10.4 7.6 10.5 7.6 10.3 7.6 10.4z" fill="#FFF"></path>
        <path d="M9.7 12.2c0.4 0 0.8 0 1.1-0.3 0.5-0.4 0.6-1.2 0.2-1.7 -0.2-0.2-0.3-0.3-0.6-0.4 -0.2-0.1-0.4-0.2-0.5-0.3 -0.2-0.6 1-0.4 1.2-0.4l0.1-0.9C10.9 8.1 10.1 8 9.6 8.3 9 8.6 8.8 9.4 9.1 10c0.2 0.2 0.4 0.3 0.6 0.5 0.2 0.1 0.4 0.2 0.5 0.3 0.4 0.7-1.3 0.4-1.5 0.3l-0.2 0.9C8.6 12.1 8.9 12.2 9.7 12.2z" fill="#FFF"></path>
        <path d="M30 7.2l-0.2 1.3c-0.4-0.4-0.9-0.6-1.5-0.4 -0.7 0.3-1.1 1.1-1.2 1.7 -0.1 0.7 0 1.6 0.6 2.1 0.5 0.3 1.2 0.2 1.5-0.2l-0.1 0.4h1L31 7.2C31 7.2 30 7.2 30 7.2zM29.5 9.9c0 0.4-0.1 0.8-0.4 1.1 -0.2 0.2-0.7 0.3-0.9-0.1C28 10.4 28.2 9 28.9 9 29.4 9.1 29.5 9.3 29.5 9.9z" fill="#FFF"></path>
        <path d="M1.9 12.1l0.6-3.6 0.1 3.6h0.7l1.3-3.6L4 12.1h1l0.8-4.9H4.2l-1 3 -0.1-3H1.7l-0.8 4.9C0.9 12.1 1.9 12.1 1.9 12.1z" fill="#FFF"></path>
        <path d="M17.6 12.1c0.3-1.7 0.3-3.1 1.1-2.8 0.1-0.7 0.2-0.9 0.4-1.2 -0.4-0.2-0.8 0.2-1 0.6l0.1-0.6h-1l-0.6 4L17.6 12.1 17.6 12.1z" fill="#FFF"></path>
        <path d="M23.9 8.1c-0.7 0-1.2 0.2-1.2 0.2l-0.2 0.9c0.3-0.1 0.7-0.2 1.1-0.2 0.4 0 0.8 0.1 0.6 0.6 -1.1-0.1-2.4 0.3-2.2 1.7 0.1 1 1.4 1.2 2 0.5l0 0.4h0.9l0.4-2.8C25.3 8.1 24.3 8.1 23.9 8.1zM24.1 10.4c0.1 0.4-0.4 1.3-0.9 0.9 -0.2-0.1-0.2-0.4-0.1-0.6 0.2-0.3 0.6-0.3 0.9-0.3C24.1 10.3 24.1 10.3 24.1 10.4 24.1 10.5 24.1 10.3 24.1 10.4z" fill="#FFF"></path>
        <path d="M26.2 12.1c0.3-1.7 0.3-3.1 1.1-2.8 0.1-0.7 0.2-0.9 0.4-1.2 -0.4-0.2-0.8 0.2-1 0.6l0.1-0.6h-1l-0.6 4L26.2 12.1 26.2 12.1 26.2 12.1z" fill="#FFF"></path>
    </symbol>

    <symbol id="logo-maestro" viewBox="0 0 32 19.2">
        <path d="M16 16.7c3.2-2.9 4-7.7 2.1-11.5 -0.5-1-1.2-2-2.1-2.7 -2.1-1.9-4.9-2.8-7.6-2.4C6 0.4 3.8 1.6 2.3 3.3 -0.9 7-0.8 12.6 2.5 16.1c1.8 1.9 4.4 3.1 7.1 3.1C12 19.2 14.3 18.2 16 16.7" fill="#0066CB"></path>
        <path d="M16 16.7c3.2-2.9 4-7.7 2.1-11.5 -0.5-1-1.2-2-2.1-2.7" fill="#0066CB"></path>
        <path d="M16 16.7c3.2-2.9 4-7.7 2.1-11.5 -0.5-1-1.2-2-2.1-2.7" style="fill:none;stroke-width:0.3;stroke:#0066CB"></path>
        <path d="M22.4 0c-2.5 0-4.8 1-6.4 2.5 -0.3 0.3-0.7 0.6-1 1h1.9c0.3 0.3 0.5 0.7 0.7 1h-3.4c-0.2 0.3-0.4 0.7-0.6 1h4.5c0.2 0.3 0.3 0.7 0.4 1h-5.3c-0.1 0.3-0.2 0.7-0.3 1h5.9c0.4 1.7 0.2 3.4-0.3 5.1h-5.3c0.1 0.3 0.2 0.7 0.4 1h4.5c-0.2 0.3-0.3 0.7-0.6 1h-3.4c0.2 0.3 0.5 0.7 0.7 1H17c-0.3 0.4-0.6 0.7-1 1 2.4 2.1 5.7 3 8.8 2.2 2.6-0.6 4.9-2.4 6.1-4.8 0.7-1.4 1.1-2.9 1.1-4.5C32 4.3 27.7 0 22.4 0" fill="#CC0001"></path>
        <path d="M8.4 12H7.2l0.7-3.7L6.2 12H5.2L5 8.3 4.3 12H3.2l0.9-4.9H6l0.1 3 1.3-3h1.9L8.4 12" fill="#FFF"></path>
        <path d="M21.7 11.9c-0.4 0.1-1 0.2-1.4 0 -0.4-0.2-0.3-0.6-0.3-1.1l0.1-0.4 0.1-0.3 0.6-3h1.2l-0.2 0.9h0.6L22 9h-0.6l-0.3 1.6c-0.2 0.5 0.5 0.4 0.7 0.4L21.7 11.9" fill="#FFF"></path>
        <path d="M25.2 8.1C25.1 8 25 8 25 8c-0.1 0-0.1 0-0.1 0 -0.2 0-0.4 0-0.6 0.1 -0.2 0.1-0.4 0.3-0.6 0.5L23.9 8h-1.1L22.1 12h1.2c0.2-0.8 0.2-1.6 0.6-2.4 0.1-0.3 0.4-0.6 0.8-0.5l0.2 0L25.2 8.1" fill="#FFF"></path>
        <path d="M17 9.3c0 0.5 0.3 0.8 0.9 1.1 0.2 0.1 0.8 0.3 0.5 0.6 -0.2 0.2-0.4 0.1-0.6 0.1 -0.3 0-0.7-0.1-1-0.2l-0.2 0.9 0.1 0 0.2 0c0.1 0 0.2 0 0.3 0 0.7 0.1 1.9 0.1 2.4-0.6 0.2-0.3 0.2-0.7 0.2-1 -0.1-0.4-0.5-0.7-0.8-0.8 -0.2-0.1-0.7-0.2-0.5-0.6 0.2-0.3 1.1-0.1 1.4-0.1L19.9 8C19.6 8 19.1 8 18.8 8 17.4 8 17 8.6 17 9.3" fill="#FFF"></path>
        <path d="M11.3 10.2c-0.3-0.1-0.9-0.1-1.2 0.2 -0.2 0.3-0.1 0.7 0.3 0.7C11 11.2 11.3 10.8 11.3 10.2L11.3 10.2zM12.2 12h-1l0-0.4c-0.4 0.4-1.1 0.6-1.7 0.4 -0.5-0.2-0.7-0.7-0.7-1.2 0.1-0.5 0.3-0.8 0.7-1 0.6-0.3 1.2-0.2 1.8-0.2 0.1-0.3 0-0.6-0.3-0.6 -0.4-0.1-1 0-1.4 0.1L9.6 9 9.5 9l0.2-0.9c0.8-0.2 1.8-0.4 2.5 0 0.6 0.4 0.5 1.1 0.4 1.7l-0.3 1.4 0 0.2 0 0.2 0 0.2L12.2 12" fill="#FFF"></path>
        <path d="M15.5 9.5c0-0.4-0.1-0.7-0.6-0.7 -0.4 0-0.7 0.3-0.8 0.7H15.5L15.5 9.5zM16.1 11.9c-0.8 0.2-1.7 0.3-2.5-0.1 -0.6-0.3-0.8-0.9-0.8-1.6 0-0.7 0.3-1.5 1-1.9 0.6-0.4 1.4-0.5 2.1-0.2 0.8 0.4 0.8 1.4 0.5 2.2h-2.4c-0.2 0.4 0.2 0.7 0.5 0.8 0.6 0.1 1.2 0 1.7-0.2L16.1 11.9" fill="#FFF"></path>
        <path d="M27.6 9.7c0-0.5-0.4-0.9-0.9-0.8S26 9.7 26 10.2c0 0.4 0.2 1 0.7 0.9 0.4-0.1 0.8-0.5 0.9-1C27.6 10 27.6 9.9 27.6 9.7zM28.9 10.2c-0.1 0.9-0.7 1.6-1.6 1.8 -0.8 0.2-1.9 0.1-2.4-0.7 -0.4-0.7-0.3-1.8 0.2-2.5 0.6-0.8 1.6-1 2.5-0.9C28.6 8.2 29 9.2 28.9 10.2" fill="#FFF"></path>
    </symbol>

    <symbol id="logo-paypal" viewBox="0 0 64 15.6">
        <path d="M23.9 3.5h-3.5c-0.2 0-0.4 0.2-0.5 0.4L18.5 13c0 0.2 0.1 0.3 0.3 0.3h1.7c0.2 0 0.4-0.2 0.5-0.4l0.4-2.4c0-0.2 0.2-0.4 0.5-0.4h1.1c2.3 0 3.7-1.1 4-3.4 0.2-1 0-1.7-0.5-2.3C26 3.8 25.1 3.5 23.9 3.5zM24.3 6.8c-0.2 1.3-1.2 1.3-2.1 1.3h-0.5l0.4-2.4c0-0.1 0.1-0.2 0.3-0.2h0.2c0.6 0 1.2 0 1.6 0.4C24.4 6 24.4 6.4 24.3 6.8z" fill="#253B80"></path>
        <path d="M34.5 6.8h-1.7c-0.1 0-0.3 0.1-0.3 0.2l-0.1 0.5 -0.1-0.2c-0.4-0.5-1.2-0.7-2-0.7 -1.9 0-3.5 1.4-3.8 3.4 -0.2 1 0.1 1.9 0.6 2.6 0.5 0.6 1.3 0.9 2.1 0.9 1.5 0 2.3-1 2.3-1L31.6 13c0 0.2 0.1 0.3 0.3 0.3h1.5c0.2 0 0.4-0.2 0.5-0.4l0.9-5.8C34.8 6.9 34.7 6.8 34.5 6.8zM32.2 10.1c-0.2 1-0.9 1.6-1.9 1.6 -0.5 0-0.9-0.2-1.1-0.5 -0.3-0.3-0.3-0.7-0.3-1.2 0.2-1 0.9-1.6 1.9-1.6 0.5 0 0.9 0.2 1.1 0.5C32.1 9.2 32.2 9.6 32.2 10.1z" fill="#253B80"></path>
        <path d="M43.5 6.8h-1.7c-0.2 0-0.3 0.1-0.4 0.2l-2.4 3.5 -1-3.3c-0.1-0.2-0.3-0.4-0.5-0.4h-1.7c-0.2 0-0.3 0.2-0.3 0.4l1.9 5.5 -1.8 2.5c-0.1 0.2 0 0.5 0.2 0.5h1.7c0.2 0 0.3-0.1 0.4-0.2l5.7-8.2C43.9 7 43.8 6.8 43.5 6.8z" fill="#253B80"></path>
        <path d="M49.2 3.5h-3.5c-0.2 0-0.4 0.2-0.5 0.4L43.7 13c0 0.2 0.1 0.3 0.3 0.3h1.8c0.2 0 0.3-0.1 0.3-0.3l0.4-2.6c0-0.2 0.2-0.4 0.5-0.4h1.1c2.3 0 3.7-1.1 4-3.4 0.2-1 0-1.7-0.5-2.3C51.3 3.8 50.4 3.5 49.2 3.5zM49.6 6.8c-0.2 1.3-1.2 1.3-2.1 1.3H47l0.4-2.4c0-0.1 0.1-0.2 0.3-0.2h0.2c0.6 0 1.2 0 1.6 0.4C49.6 6 49.7 6.4 49.6 6.8z" fill="#179BD7"></path>
        <path d="M59.8 6.8h-1.7c-0.1 0-0.3 0.1-0.3 0.2l-0.1 0.5 -0.1-0.2c-0.4-0.5-1.2-0.7-2-0.7 -1.9 0-3.5 1.4-3.8 3.4 -0.2 1 0.1 1.9 0.6 2.6 0.5 0.6 1.3 0.9 2.1 0.9 1.5 0 2.3-1 2.3-1L56.8 13c0 0.2 0.1 0.3 0.3 0.3h1.5c0.2 0 0.4-0.2 0.5-0.4l0.9-5.8C60.1 6.9 60 6.8 59.8 6.8zM57.4 10.1c-0.2 1-0.9 1.6-1.9 1.6 -0.5 0-0.9-0.2-1.1-0.5 -0.3-0.3-0.3-0.7-0.3-1.2 0.2-1 0.9-1.6 1.9-1.6 0.5 0 0.9 0.2 1.1 0.5C57.4 9.2 57.5 9.6 57.4 10.1z" fill="#179BD7"></path>
        <path d="M61.8 3.7L60.3 13c0 0.2 0.1 0.3 0.3 0.3h1.5c0.2 0 0.4-0.2 0.5-0.4L64 3.8c0-0.2-0.1-0.3-0.3-0.3h-1.6C61.9 3.5 61.8 3.6 61.8 3.7z" fill="#179BD7"></path>
        <path d="M3.8 15.1L4 13.4l-0.6 0H0.5l2-12.7c0 0 0-0.1 0.1-0.1 0 0 0.1 0 0.1 0h4.9c1.6 0 2.7 0.3 3.3 1 0.3 0.3 0.4 0.6 0.5 1 0.1 0.4 0.1 0.8 0 1.4l0 0v0.4l0.3 0.2c0.2 0.1 0.4 0.3 0.6 0.4 0.2 0.3 0.4 0.6 0.4 1 0.1 0.4 0 0.9-0.1 1.5C12.5 8 12.3 8.5 12 9c-0.2 0.4-0.6 0.8-0.9 1 -0.4 0.3-0.8 0.5-1.3 0.6 -0.5 0.1-1 0.2-1.6 0.2H7.8c-0.3 0-0.5 0.1-0.7 0.3 -0.2 0.2-0.3 0.4-0.4 0.7l0 0.2 -0.5 3 0 0.1c0 0 0 0.1 0 0.1 0 0 0 0 0 0C6.1 15.1 3.8 15.1 3.8 15.1z" fill="#253B80"></path>
        <path d="M11.9 4L11.9 4 11.9 4c0 0.1 0 0.2 0 0.3 -0.6 3.3-2.8 4.4-5.6 4.4H4.8c-0.3 0-0.6 0.2-0.7 0.6l0 0 0 0 -0.7 4.6 -0.2 1.3c0 0.2 0.1 0.4 0.4 0.4h2.5c0.3 0 0.6-0.2 0.6-0.5l0-0.1 0.5-3 0-0.2c0-0.3 0.3-0.5 0.6-0.5h0.4c2.4 0 4.4-1 4.9-3.9 0.2-1.2 0.1-2.2-0.5-2.9C12.4 4.3 12.2 4.1 11.9 4z" fill="#179BD7"></path>
        <path d="M11.3 3.7c-0.1 0-0.2-0.1-0.3-0.1 -0.1 0-0.2 0-0.3-0.1 -0.4-0.1-0.8-0.1-1.3-0.1H5.6c-0.1 0-0.2 0-0.3 0.1C5.1 3.6 5 3.8 5 4L4.2 9.1l0 0.1c0.1-0.3 0.3-0.6 0.7-0.6h1.4c2.8 0 5-1.1 5.6-4.4 0-0.1 0-0.2 0-0.3 -0.2-0.1-0.3-0.2-0.5-0.2C11.4 3.7 11.3 3.7 11.3 3.7z" fill="#222D65"></path>
        <path d="M5 4c0-0.2 0.2-0.4 0.3-0.5 0.1 0 0.2-0.1 0.3-0.1h3.8c0.5 0 0.9 0 1.3 0.1 0.1 0 0.2 0 0.3 0.1 0.1 0 0.2 0 0.3 0.1 0 0 0.1 0 0.1 0 0.2 0.1 0.4 0.1 0.5 0.2 0.2-1.2 0-2-0.7-2.8C10.6 0.4 9.2 0 7.6 0H2.7C2.4 0 2.1 0.2 2 0.6L0 13.4c0 0.3 0.2 0.5 0.4 0.5h3l0.8-4.8L5 4z" fill="#253B80"></path>
    </symbol>

    <symbol id="logo-paypal-credit" viewBox="0 0 64 21.5">
        <path d="M16.4 5.5c0.3-1.7 0-2.8-0.9-3.8 -1-1.1-2.8-1.6-5.1-1.6H3.7C3.3 0 2.9 0.3 2.8 0.8L0 18.4c-0.1 0.3 0.2 0.7 0.6 0.7h4.1l-0.3 1.8c0 0.3 0.2 0.6 0.5 0.6h3.5c0.4 0 0.8-0.3 0.8-0.7l0-0.2 0.7-4.2 0-0.2c0.1-0.4 0.4-0.7 0.8-0.7h0.5c3.4 0 6-1.4 6.8-5.3 0.3-1.7 0.2-3-0.7-4C17.1 5.9 16.8 5.7 16.4 5.5L16.4 5.5" fill="#009CDE"></path>
        <path d="M16.4 5.5c0.3-1.7 0-2.8-0.9-3.8 -1-1.1-2.8-1.6-5.1-1.6H3.7C3.3 0 2.9 0.3 2.8 0.8L0 18.4c-0.1 0.3 0.2 0.7 0.6 0.7h4.1l1-6.6 0 0.2c0.1-0.5 0.5-0.8 0.9-0.8h2c3.8 0 6.9-1.6 7.7-6.1C16.4 5.7 16.4 5.6 16.4 5.5" fill="#012169"></path>
        <path d="M6.8 5.5c0-0.3 0.2-0.5 0.5-0.6 0.1-0.1 0.2-0.1 0.4-0.1h5.2c0.6 0 1.2 0 1.7 0.1 0.2 0 0.3 0.1 0.4 0.1 0.1 0 0.3 0.1 0.4 0.1 0.1 0 0.1 0 0.2 0.1 0.3 0.1 0.5 0.2 0.7 0.3 0.3-1.7 0-2.8-0.9-3.8 -1-1.1-2.8-1.6-5.1-1.6H3.7C3.3 0 2.9 0.3 2.8 0.8L0 18.4c-0.1 0.3 0.2 0.7 0.6 0.7h4.1l1-6.6L6.8 5.5z" fill="#003087"></path>
        <path d="M45.1 11c0-0.2 0.2-0.3 0.3-0.3h3.2c2.7 0 4.5 2.1 4.1 4.8 -0.4 2.7-3 4.8-5.6 4.8h-3.3c-0.1 0-0.2-0.1-0.2-0.2L45.1 11zM46.4 18.2H47c1.5 0 2.9-0.8 3.2-2.7 0.3-1.7-0.7-2.7-2.3-2.7h-0.4c-0.1 0-0.2 0.1-0.2 0.2L46.4 18.2z" fill="#003087"></path>
        <path d="M40.9 13.1l-0.2 1.3h2.6c0.1 0 0.2 0.1 0.2 0.2l-0.2 1.6c0 0.2-0.2 0.3-0.3 0.3h-2.2c-0.2 0-0.3 0.1-0.3 0.3l-0.2 1.4h2.7c0.1 0 0.2 0.1 0.2 0.2L42.8 20c0 0.2-0.2 0.3-0.3 0.3h-4.9c-0.1 0-0.2-0.1-0.2-0.2l1.4-9c0-0.2 0.2-0.3 0.3-0.3H44c0.1 0 0.2 0.1 0.2 0.2L44 12.6c0 0.2-0.2 0.3-0.3 0.3h-2.4C41.1 12.9 40.9 13 40.9 13.1z" fill="#003087"></path>
        <path d="M54.9 20.3H53c-0.1 0-0.2-0.1-0.2-0.2l1.4-9c0-0.2 0.2-0.3 0.3-0.3h1.9c0.1 0 0.2 0.1 0.2 0.2l-1.4 9C55.2 20.2 55.1 20.3 54.9 20.3z" fill="#003087"></path>
        <path d="M36.7 20.3h-2.5c-0.1 0-0.2-0.1-0.3-0.2l-1.7-3.5h0l-0.5 3.4c0 0.1-0.1 0.2-0.3 0.2h-2c-0.1 0-0.2-0.1-0.2-0.2l1.4-9.1c0-0.1 0.1-0.2 0.3-0.2h3.5c1.9 0 3.2 0.9 2.9 2.9 -0.2 1.3-1.1 2.5-2.5 2.7l2.2 3.6C36.9 20.1 36.8 20.3 36.7 20.3zM32.4 15h0.2c0.8 0 1.7-0.2 1.9-1.2 0.2-1-0.4-1.2-1.2-1.2H33c-0.1 0-0.2 0.1-0.2 0.2L32.4 15z" fill="#003087"></path>
        <path d="M60.2 20.3h-1.9c-0.1 0-0.2-0.1-0.2-0.2l1.1-7.2h-1.8c-0.1 0-0.2-0.1-0.2-0.2l0.2-1.6c0-0.2 0.2-0.3 0.3-0.3h6c0.1 0 0.2 0.1 0.2 0.2l-0.2 1.6c0 0.2-0.2 0.3-0.3 0.3h-1.8L60.5 20C60.5 20.2 60.4 20.3 60.2 20.3z" fill="#003087"></path>
        <path d="M29.2 13.5c0 0.2-0.2 0.2-0.4 0.1 -0.4-0.4-1-0.7-1.7-0.7 -1.5 0-2.7 1.2-3 2.6 -0.2 1.5 0.6 2.6 2.2 2.6 0.6 0 1.3-0.2 1.9-0.6 0.2-0.1 0.4 0 0.3 0.2l-0.4 2.2c0 0.1-0.1 0.2-0.2 0.3 -0.8 0.2-1.3 0.4-2 0.4 -4.1 0-4.8-3.5-4.6-5 0.6-4.2 4-5.1 6.1-5 0.7 0 1.3 0.1 1.9 0.3 0.2 0.1 0.3 0.3 0.3 0.5L29.2 13.5z" fill="#003087"></path>
        <path d="M41.6 1.2h-2.1c-0.1 0-0.3 0.1-0.3 0.3L38.3 7c0 0.1 0.1 0.2 0.2 0.2h1.1c0.1 0 0.2-0.1 0.2-0.2L40 5.4c0-0.1 0.1-0.3 0.3-0.3H41c1.4 0 2.2-0.7 2.4-2 0.1-0.6 0-1.1-0.3-1.4C42.9 1.4 42.3 1.2 41.6 1.2zM41.9 3.2C41.7 4 41.1 4 40.6 4h-0.3l0.2-1.4c0-0.1 0.1-0.2 0.2-0.2h0.1c0.4 0 0.8 0 0.9 0.2C41.9 2.7 41.9 2.9 41.9 3.2z" fill="#009CDE"></path>
        <path d="M26.3 1.2h-2.1c-0.1 0-0.3 0.1-0.3 0.3L23 7c0 0.1 0.1 0.2 0.2 0.2h1c0.1 0 0.3-0.1 0.3-0.3l0.2-1.5c0-0.1 0.1-0.3 0.3-0.3h0.7c1.4 0 2.2-0.7 2.4-2 0.1-0.6 0-1.1-0.3-1.4C27.5 1.4 27 1.2 26.3 1.2zM26.5 3.2C26.4 4 25.8 4 25.2 4h-0.3l0.2-1.4c0-0.1 0.1-0.2 0.2-0.2h0.1c0.4 0 0.8 0 0.9 0.2C26.5 2.7 26.6 2.9 26.5 3.2z" fill="#003087"></path>
        <path d="M32.7 3.2h-1c-0.1 0-0.2 0.1-0.2 0.2l0 0.3 -0.1-0.1c-0.2-0.3-0.7-0.4-1.2-0.4 -1.1 0-2.1 0.9-2.3 2.1 -0.1 0.6 0 1.2 0.4 1.6 0.3 0.4 0.8 0.5 1.3 0.5 0.9 0 1.4-0.6 1.4-0.6l0 0.3c0 0.1 0.1 0.2 0.2 0.2H32c0.1 0 0.3-0.1 0.3-0.3l0.6-3.5C32.9 3.3 32.8 3.2 32.7 3.2zM31.3 5.2c-0.1 0.6-0.6 1-1.2 1 -0.3 0-0.5-0.1-0.7-0.3 -0.2-0.2-0.2-0.4-0.2-0.7 0.1-0.6 0.6-1 1.2-1 0.3 0 0.5 0.1 0.7 0.3C31.3 4.6 31.3 4.9 31.3 5.2z" fill="#003087"></path>
        <path d="M48 3.2h-1c-0.1 0-0.2 0.1-0.2 0.2l0 0.3 -0.1-0.1c-0.2-0.3-0.7-0.4-1.2-0.4 -1.1 0-2.1 0.9-2.3 2.1 -0.1 0.6 0 1.2 0.4 1.6 0.3 0.4 0.8 0.5 1.3 0.5 0.9 0 1.4-0.6 1.4-0.6l0 0.3c0 0.1 0.1 0.2 0.2 0.2h0.9c0.1 0 0.3-0.1 0.3-0.3l0.6-3.5C48.2 3.3 48.1 3.2 48 3.2zM46.6 5.2c-0.1 0.6-0.6 1-1.2 1 -0.3 0-0.5-0.1-0.7-0.3 -0.2-0.2-0.2-0.4-0.2-0.7 0.1-0.6 0.6-1 1.2-1 0.3 0 0.5 0.1 0.7 0.3C46.6 4.6 46.6 4.9 46.6 5.2z" fill="#009CDE"></path>
        <path d="M38.2 3.2h-1c-0.1 0-0.2 0-0.2 0.1l-1.4 2.1 -0.6-2c0-0.1-0.2-0.2-0.3-0.2h-1c-0.1 0-0.2 0.1-0.2 0.2l1.1 3.3 -1.1 1.5c-0.1 0.1 0 0.3 0.1 0.3h1c0.1 0 0.2 0 0.2-0.1l3.4-5C38.4 3.3 38.3 3.2 38.2 3.2z" fill="#003087"></path>
        <path d="M49.2 1.3L48.4 7c0 0.1 0.1 0.2 0.2 0.2h0.9c0.1 0 0.3-0.1 0.3-0.3l0.9-5.5c0-0.1-0.1-0.2-0.2-0.2h-1C49.3 1.2 49.3 1.3 49.2 1.3z" fill="#009CDE"></path>
    </symbol>

    <symbol id="logo-amex" viewBox="0 0 28.3 28.3">
        <path d="M0 0h28.3v28.3H0V0" fill="#016FD0"></path>
        <path d="M10.3 23.9V13.7l18.1 0v2.8l-2.1 2.2 2.1 2.3v2.9H25l-1.8-2 -1.8 2L10.3 23.9" fill="#FFF"></path>
        <path d="M11.5 22.7v-7.9h6.7v1.8h-4.5v1.2h4.4v1.8h-4.4v1.2h4.5v1.8H11.5" fill="#016FD0"></path>
        <path d="M18.2 22.7l3.7-4 -3.7-4H21l2.3 2.5 2.3-2.5h2.8v0.1l-3.6 3.9 3.6 3.9v0.1h-2.8l-2.3-2.5L21 22.7H18.2" fill="#016FD0"></path>
        <path d="M11.1 4.7h4.4L17 8.2V4.7h5.4l0.9 2.6 0.9-2.6h4.1v10.2H6.6L11.1 4.7" fill="#FFF"></path>
        <path d="M11.9 5.8l-3.5 7.9h2.4l0.7-1.6h3.6l0.7 1.6h2.5l-3.5-7.9H11.9zM12.2 10.3l1.1-2.5 1.1 2.5H12.2z" fill="#016FD0"></path>
        <path d="M18.2 13.7V5.8l3.4 0 1.7 4.9 1.8-4.9h3.3v7.9l-2.1 0V8.3l-2 5.4h-1.9l-2-5.4v5.4H18.2" fill="#016FD0"></path>
    </symbol>

    <symbol id="logo-apple-pay" viewBox="0 0 165.5 106">
        <path d="M150.7 0h-139c-1 0-2.1.1-3.1.3-1 .2-2 .5-3 1-.9.4-1.8 1.1-2.5 1.8S1.7 4.7 1.3 5.6c-.5.9-.8 1.9-1 3-.2 1-.2 2.1-.3 3.1v82.5c0 1 .1 2.1.3 3.1.2 1 .5 2 1 3 .5.9 1.1 1.8 1.8 2.5s1.6 1.4 2.5 1.8c.9.5 1.9.8 3 1 1 .2 2.1.2 3.1.3h142.1c1 0 2.1-.1 3.1-.3 1-.2 2-.5 3-1 .9-.5 1.8-1.1 2.5-1.8s1.4-1.6 1.8-2.5c.5-.9.8-1.9 1-3 .2-1 .2-2.1.3-3.1V11.7c0-1-.1-2.1-.3-3.1-.2-1-.5-2-1-3-.5-.9-1.1-1.8-1.8-2.5s-1.6-1.4-2.5-1.8c-.9-.5-1.9-.8-3-1-1-.2-2.1-.2-3.1-.3H150.7z"></path>
        <path fill="#FFF" d="M150.7 3.5H153.8c.8 0 1.7.1 2.6.2.8.1 1.4.3 2 .6.6.3 1.1.7 1.6 1.2s.9 1 1.2 1.6c.3.6.5 1.2.6 2 .2.9.2 1.8.2 2.6v82.5c0 .8-.1 1.7-.2 2.6-.1.7-.3 1.4-.6 2-.3.6-.7 1.1-1.2 1.6s-1 .9-1.6 1.2c-.6.3-1.2.5-2 .6-.9.2-1.8.2-2.6.2H11.7c-.7 0-1.7-.1-2.6-.2-.7-.1-1.4-.3-2-.7-.6-.3-1.1-.7-1.6-1.2s-.9-1-1.2-1.6c-.3-.6-.5-1.2-.6-2-.2-.9-.2-1.8-.2-2.6V11.7c0-.8.1-1.7.2-2.6.1-.7.3-1.4.6-2 .3-.6.7-1.1 1.2-1.6s1-.9 1.6-1.2c.6-.3 1.2-.5 2-.6.9-.2 1.8-.2 2.6-.2h139"></path>
        <path d="M45.2 35.6c1.4-1.8 2.4-4.2 2.1-6.6-2.1.1-4.6 1.4-6.1 3.1-1.3 1.5-2.5 4-2.2 6.3 2.4.3 4.7-1 6.2-2.8M47.3 39c-3.4-.2-6.3 1.9-7.9 1.9-1.6 0-4.1-1.8-6.8-1.8-3.5.1-6.7 2-8.5 5.2-3.6 6.3-1 15.6 2.6 20.7 1.7 2.5 3.8 5.3 6.5 5.2 2.6-.1 3.6-1.7 6.7-1.7s4 1.7 6.8 1.6c2.8-.1 4.6-2.5 6.3-5.1 2-2.9 2.8-5.7 2.8-5.8-.1-.1-5.5-2.1-5.5-8.3-.1-5.2 4.2-7.7 4.4-7.8-2.3-3.6-6.1-4-7.4-4.1"></path>
        <path d="M76.7 31.9c7.4 0 12.5 5.1 12.5 12.4 0 7.4-5.2 12.5-12.7 12.5h-8.1v12.9h-5.9V31.9h14.2zm-8.3 20h6.7c5.1 0 8-2.8 8-7.5 0-4.8-2.9-7.5-8-7.5h-6.8v15zM90.7 62c0-4.8 3.7-7.8 10.3-8.2l7.6-.4v-2.1c0-3.1-2.1-4.9-5.5-4.9-3.3 0-5.3 1.6-5.8 4h-5.4c.3-5 4.6-8.7 11.4-8.7 6.7 0 11 3.5 11 9.1v19h-5.4v-4.5h-.1c-1.6 3.1-5.1 5-8.7 5-5.6 0-9.4-3.4-9.4-8.3zm17.9-2.5v-2.2l-6.8.4c-3.4.2-5.3 1.7-5.3 4.1 0 2.4 2 4 5 4 4 0 7.1-2.7 7.1-6.3zM119.3 80v-4.6c.4.1 1.4.1 1.8.1 2.6 0 4-1.1 4.9-3.9 0-.1.5-1.7.5-1.7l-10-27.6h6.1l7 22.5h.1l7-22.5h6l-10.3 29.1c-2.4 6.7-5.1 8.8-10.8 8.8-.4-.1-1.8-.1-2.3-.2z"></path>
    </symbol>

    <symbol id="logo-gpay" viewBox="0 0 752 400">
        <path fill="#FFF" d="M552 0H200C90 0 0 90 0 200s90 200 200 200h352c110 0 200-90 200-200S662 0 552 0z"></path>
        <path fill="#3C4043" d="M552 16.2c24.7 0 48.7 4.9 71.3 14.5 21.9 9.3 41.5 22.6 58.5 39.5 16.9 16.9 30.2 36.6 39.5 58.5 9.6 22.6 14.5 46.6 14.5 71.3s-4.9 48.7-14.5 71.3c-9.3 21.9-22.6 41.5-39.5 58.5-16.9 16.9-36.6 30.2-58.5 39.5-22.6 9.6-46.6 14.5-71.3 14.5H200c-24.7 0-48.7-4.9-71.3-14.5-21.9-9.3-41.5-22.6-58.5-39.5-16.9-16.9-30.2-36.6-39.5-58.5-9.6-22.6-14.5-46.6-14.5-71.3s4.9-48.7 14.5-71.3c9.3-21.9 22.6-41.5 39.5-58.5 16.9-16.9 36.6-30.2 58.5-39.5 22.6-9.6 46.6-14.5 71.3-14.5h352M552 0H200C90 0 0 90 0 200s90 200 200 200h352c110 0 200-90 200-200S662 0 552 0z"></path>
        <g fill="#3C4043">
            <path d="M358.6 214.2v60.5h-19.2V125.3h50.9c12.9 0 23.9 4.3 32.9 12.9 9.2 8.6 13.8 19.1 13.8 31.5 0 12.7-4.6 23.2-13.8 31.7-8.9 8.5-19.9 12.7-32.9 12.7h-31.7v.1zm0-70.5v52.1h32.1c7.6 0 14-2.6 19-7.7 5.1-5.1 7.7-11.3 7.7-18.3 0-6.9-2.6-13-7.7-18.1-5-5.3-11.3-7.9-19-7.9h-32.1v-.1zM487.2 169.1c14.2 0 25.4 3.8 33.6 11.4 8.2 7.6 12.3 18 12.3 31.2v63h-18.3v-14.2h-.8c-7.9 11.7-18.5 17.5-31.7 17.5-11.3 0-20.7-3.3-28.3-10s-11.4-15-11.4-25c0-10.6 4-19 12-25.2 8-6.3 18.7-9.4 32-9.4 11.4 0 20.8 2.1 28.1 6.3v-4.4c0-6.7-2.6-12.3-7.9-17-5.3-4.7-11.5-7-18.6-7-10.7 0-19.2 4.5-25.4 13.6l-16.9-10.6c9.3-13.5 23.1-20.2 41.3-20.2zm-24.8 74.2c0 5 2.1 9.2 6.4 12.5 4.2 3.3 9.2 5 14.9 5 8.1 0 15.3-3 21.6-9s9.5-13 9.5-21.1c-6-4.7-14.3-7.1-25-7.1-7.8 0-14.3 1.9-19.5 5.6-5.3 3.9-7.9 8.6-7.9 14.1zM637.5 172.4l-64 147.2h-19.8l23.8-51.5-42.2-95.7h20.9l30.4 73.4h.4l29.6-73.4h20.9z"></path>
        </g>
        <path fill="#4285F4" d="M282.2 202c0-6.3-.6-12.2-1.6-18h-80.5v33h46.4c-1.9 11-7.9 20.3-17.2 26.6V265h27.6c16.1-14.9 25.3-37 25.3-63z"></path>
        <path fill="#34A853" d="M229.3 243.6c-7.7 5.2-17.6 8.2-29.1 8.2-22.4 0-41.3-15.1-48.1-35.4h-28.5v22.1c14.1 28 43.1 47.2 76.6 47.2 23.1 0 42.6-7.6 56.7-20.7l-27.6-21.4z"></path>
        <path fill="#FABB05" d="M149.4 200c0-5.7 1-11.2 2.7-16.4v-22.1h-28.5c-5.8 11.6-9.1 24.6-9.1 38.5s3.3 26.9 9.1 38.5l28.5-22.1c-1.8-5.1-2.7-10.6-2.7-16.4z"></path>
        <path fill="#E94235" d="M200.2 148.3c12.6 0 23.9 4.4 32.9 12.9l24.5-24.4c-14.9-13.8-34.2-22.3-57.3-22.3-33.5 0-62.5 19.2-76.6 47.2l28.5 22.1c6.7-20.4 25.6-35.5 48-35.5z"></path>
    </symbol>

    <symbol id="logo-klarna" viewBox="0 0 60 30">
        <g fill="none" fill-rule="evenodd">
            <path fill="#FFB3C7" d="M55.5 30h-51A4.513 4.513 0 0 1 0 25.5v-21C0 2.026 2.025 0 4.5 0h51C57.974 0 60 2.026 60 4.5v21c0 2.475-2.026 4.5-4.5 4.5"></path>
            <path fill="#000" d="M45.743 18.176c-1.02 0-1.847-.783-1.847-1.752 0-.966.827-1.75 1.847-1.75s1.846.784 1.846 1.75c0 .969-.826 1.752-1.846 1.752Zm1.852-5.157v.438a3.564 3.564 0 0 0-2.019-.626 3.593 3.593 0 1 0 2.02 6.563v.435h2.04v-6.81h-2.04ZM16.043 9.984H13.83a5.651 5.651 0 0 1-2.284 4.563l-.876.656 3.394 4.627h2.79l-3.123-4.257a7.84 7.84 0 0 0 2.312-5.589M8.135 19.83H10.4V9.984H8.135zm9.377-.003h2.134V9.984h-2.134zm20.85-6.99c-.814 0-1.585.253-2.1.95v-.766h-2.029v6.807h2.054V16.25c0-1.035.694-1.542 1.531-1.542.894 0 1.41.534 1.41 1.529v3.59h2.036v-4.33c0-1.582-1.26-2.66-2.903-2.66m-14.12 5.339c-1.02 0-1.847-.783-1.847-1.752 0-.966.826-1.75 1.846-1.75s1.847.784 1.847 1.75c0 .969-.827 1.752-1.847 1.752Zm1.852-5.157v.438a3.564 3.564 0 0 0-2.02-.626 3.593 3.593 0 1 0 2.02 6.563v.435h2.04v-6.81h-2.04Zm5.192.888v-.886h-2.087v6.807h2.091v-3.179c0-1.072 1.163-1.648 1.968-1.648h.026v-1.98c-.828 0-1.59.355-1.998.886m20.513 3.506a1.28 1.28 0 1 0 .001 2.56 1.28 1.28 0 0 0 0-2.56"></path>
        </g>
    </symbol>

    <symbol id="icon-secure" viewBox="0 0 32 32">
        <line x1="7" y1="13.6" x2="18" y2="13.6" fill="none"></line>
        <path d="M7 7c0-1.2 1-2.4 2.4-2.4h6.3c1.2 0 2.4 1 2.4 2.4v6.9h4.5V7c0-3.8-3.1-7-6.9-7H9.3C5.4 0 2.4 3.2 2.4 7v6.9H7V7z" fill="#9C9CA1"></path>
        <path d="M2.4 13.6H1.7c-0.9 0-1.7 0.8-1.7 1.8v14.9C0 31.2 0.8 32 1.7 32h21.5c0.9 0 1.7-0.8 1.7-1.7V15.4c0-0.9-0.8-1.7-1.7-1.7h-0.6H18 7 2.4V13.6z" fill="#EDBA4D"></path>
        <path d="M27 12.8L16.7 23.1 12 18.3l-3.4 3.4 8.1 8.1 13.8-13.6L27 12.8z" fill="#5B9325"></path>
        <path d="M16.7 31.2l-9.5-9.5L12 17l4.7 4.7L27 11.4l4.9 4.9L16.7 31.2zM10 21.7l6.8 6.8 12.4-12.2L27 14.1 16.7 24.4 12 19.7 10 21.7z" fill="#FFF"></path>
    </symbol>

    <symbol id="icon-next-day" viewBox="0 0 64 33.2">
        <path d="M12.5 13.4c0-0.7-0.6-1.3-1.3-1.3H6.7c-0.7 0-1.3 0.6-1.3 1.3s0.6 1.3 1.3 1.3h4.4C11.9 14.7 12.5 14.1 12.5 13.4z"></path>
        <path d="M12.5 19.5c0-0.7-0.6-1.3-1.3-1.3H3.8c-0.7 0-1.3 0.6-1.3 1.3 0 0.7 0.6 1.3 1.3 1.3h7.3C11.9 20.8 12.5 20.2 12.5 19.5z"></path>
        <path d="M0 25.5c0 0.7 0.6 1.3 1.3 1.3h9.8c0.7 0 1.3-0.6 1.3-1.3s-0.6-1.3-1.3-1.3H1.3C0.6 24.2 0 24.8 0 25.5z"></path>
        <polygon points="33.1 18.6 35.3 18.6 34.2 15.5 "></polygon>
        <path d="M27.2 15.4c-0.2-0.2-0.5-0.3-0.8-0.4C26.2 15 25.7 15 25.1 15h-0.7v5.5h1.2c0.5 0 0.8 0 1-0.1 0.3-0.1 0.5-0.2 0.7-0.3 0.2-0.2 0.3-0.4 0.4-0.8 0.1-0.4 0.2-0.9 0.2-1.5 0-0.6-0.1-1.1-0.2-1.5C27.6 15.9 27.4 15.6 27.2 15.4z"></path>
        <path d="M63.6 16.2L58.3 9c-0.3-0.4-0.9-0.7-1.4-0.7h-5.3V1.8c0-1-0.8-1.8-1.8-1.8H17c-1 0-1.8 0.8-1.8 1.8V27h4.2c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2h15.5c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2H64v-9.8C64 16.8 63.9 16.5 63.6 16.2zM34.2 2.8h1.9l1.7 2.6 1.6-2.6h1.9l-2.6 4 2.8 4.2h-2l-1.8-2.8L36 11.1h-2l2.8-4.3L34.2 2.8zM20.4 5.7v5.4h-1.5V2.8h1.6l3.4 5.5V2.8h1.5v8.2h-1.7L20.4 5.7zM25.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C28.7 28.7 27.4 30.1 25.6 30.1zM29.3 19.5c-0.2 0.6-0.5 1.1-0.9 1.5 -0.3 0.3-0.7 0.5-1.2 0.7 -0.4 0.1-0.9 0.2-1.5 0.2h-3.1v-8.2h3c0.7 0 1.2 0.1 1.6 0.2 0.5 0.1 0.9 0.4 1.2 0.8 0.3 0.4 0.6 0.8 0.8 1.3 0.2 0.5 0.3 1.2 0.3 1.9C29.6 18.5 29.5 19 29.3 19.5zM27.1 11.1V2.8h6.1v1.4h-4.4v1.8h4.1v1.4h-4.1v2.2h4.6v1.4H27.1zM36.6 21.8l-0.7-1.9h-3.3l-0.7 1.9h-1.8l3.2-8.2h1.8l3.3 8.2H36.6zM42 18.4v3.5h-1.7v-3.5l-3-4.8h1.9l1.9 3.3 1.9-3.3h1.9L42 18.4zM48.4 4.2H46v6.8h-1.7V4.2h-2.4V2.8h6.5V4.2zM53.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C56.7 28.7 55.3 30.1 53.6 30.1zM51.5 16.6v-5.2h4.6c0.4 0 0.7 0.2 0.9 0.5l3.7 4.7H51.5z"></path>
    </symbol>

    <symbol id="icon-same-day" viewBox="0 0 64 33.2">
        <path d="M12.5 13.4c0-0.7-0.6-1.3-1.3-1.3H6.7c-0.7 0-1.3 0.6-1.3 1.3s0.6 1.3 1.3 1.3h4.4C11.9 14.7 12.5 14.1 12.5 13.4z"></path>
        <path d="M12.5 19.5c0-0.7-0.6-1.3-1.3-1.3H3.8c-0.7 0-1.3 0.6-1.3 1.3s0.6 1.3 1.3 1.3h7.3C11.9 20.8 12.5 20.2 12.5 19.5z"></path>
        <path d="M0 25.5c0 0.7 0.6 1.3 1.3 1.3h9.8c0.7 0 1.3-0.6 1.3-1.3s-0.6-1.3-1.3-1.3H1.3C0.6 24.2 0 24.8 0 25.5z"></path>
        <polygon points="32.9 17.7 34.8 17.7 33.9 15.1 "></polygon>
        <polygon points="28 8.5 29.9 8.5 28.9 5.9 "></polygon>
        <path d="M27.9 15c-0.2-0.2-0.4-0.3-0.7-0.3 -0.2 0-0.6-0.1-1.2-0.1h-0.6v4.7h1.1c0.4 0 0.7 0 0.9-0.1 0.2-0.1 0.4-0.2 0.6-0.3 0.2-0.1 0.3-0.4 0.4-0.7 0.1-0.3 0.1-0.7 0.1-1.3 0-0.5 0-1-0.1-1.3C28.2 15.4 28 15.2 27.9 15z"></path>
        <path d="M63.6 16.2L58.3 9c-0.3-0.4-0.9-0.7-1.4-0.7h-5.3V1.8c0-1-0.8-1.8-1.8-1.8H17c-1 0-1.8 0.8-1.8 1.8V27h4.2c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2h15.5c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2H64v-9.8C64 16.8 63.9 16.5 63.6 16.2zM33.3 4.2h2.1L36.7 9l1.3-4.8h2.1v7.1h-1.3V5.7l-1.4 5.6H36l-1.4-5.6v5.6h-1.3V4.2zM20.1 10.8c-0.5-0.4-0.8-1-0.9-1.8l1.4-0.1c0.1 0.5 0.3 0.8 0.5 1 0.3 0.2 0.6 0.3 1 0.3 0.5 0 0.8-0.1 1-0.3 0.2-0.2 0.3-0.4 0.3-0.7 0-0.2 0-0.3-0.1-0.4 -0.1-0.1-0.3-0.2-0.5-0.3 -0.2-0.1-0.5-0.2-1.1-0.3C21 8 20.4 7.8 20.1 7.5c-0.4-0.4-0.7-0.9-0.7-1.4 0-0.4 0.1-0.7 0.3-1 0.2-0.3 0.5-0.6 0.9-0.7 0.4-0.2 0.8-0.2 1.4-0.2 0.9 0 1.6 0.2 2 0.6 0.4 0.4 0.7 0.9 0.7 1.6l-1.4 0.1c-0.1-0.4-0.2-0.6-0.4-0.8 -0.2-0.2-0.5-0.2-0.9-0.2 -0.4 0-0.7 0.1-1 0.3 -0.2 0.1-0.2 0.3-0.2 0.4 0 0.2 0.1 0.3 0.2 0.4 0.2 0.2 0.6 0.3 1.3 0.5 0.7 0.2 1.2 0.3 1.5 0.5 0.3 0.2 0.6 0.4 0.8 0.7C24.9 8.4 25 8.8 25 9.2c0 0.4-0.1 0.8-0.3 1.1 -0.2 0.4-0.5 0.6-1 0.8 -0.4 0.2-0.9 0.3-1.5 0.3C21.2 11.4 20.6 11.2 20.1 10.8zM25.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C28.7 28.7 27.4 30.1 25.6 30.1zM29.7 18.5c-0.2 0.5-0.4 0.9-0.8 1.2 -0.2 0.2-0.6 0.4-1 0.6 -0.3 0.1-0.7 0.1-1.3 0.1H24v-7.1h2.6c0.6 0 1 0 1.3 0.1 0.4 0.1 0.8 0.3 1.1 0.6 0.3 0.3 0.5 0.7 0.7 1.1 0.2 0.5 0.2 1 0.2 1.7C29.9 17.6 29.8 18.1 29.7 18.5zM27.5 9.7L27 11.3h-1.5l2.7-7.1h1.5l2.8 7.1H31l-0.6-1.6H27.5zM35.9 20.5l-0.6-1.6h-2.8l-0.6 1.6h-1.5l2.7-7.1h1.5l2.8 7.1H35.9zM40.6 17.5v3h-1.4v-3l-2.6-4.1h1.7l1.7 2.8 1.6-2.8h1.6L40.6 17.5zM46.9 11.3h-5.4V4.2h5.2v1.2h-3.8V7h3.5v1.2h-3.5v1.9h3.9V11.3zM53.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C56.7 28.7 55.3 30.1 53.6 30.1zM51.5 16.6v-5.2h4.6c0.4 0 0.7 0.2 0.9 0.5l3.7 4.7H51.5z"></path>
    </symbol>

    <symbol id="icon-in-stock" viewBox="0 0 64 64">
        <path d="M32 0C14.3 0 0 14.3 0 32c0 17.7 14.3 32 32 32 17.7 0 32-14.3 32-32C64 14.3 49.7 0 32 0zM52.2 21.7L28.6 46.4c-0.3 0.3-0.7 0.5-1.1 0.5 -0.3 0-0.7-0.1-1-0.3L15 37.5c-0.7-0.5-0.8-1.5-0.3-2.2 0.5-0.7 1.5-0.8 2.2-0.3l10.4 8.2 22.6-23.7c0.6-0.6 1.6-0.7 2.2-0.1C52.8 20.1 52.8 21.1 52.2 21.7z"></path>
    </symbol>

    <symbol id="icon-packaging" viewBox="0 0 64 53.4">
        <polygon points="7 8.3 13 15.6 33.5 8.6 26.9 3.1 "></polygon>
        <polygon points="36.6 8.8 43.5 0 60.5 6.1 52.9 16.2 "></polygon>
        <polygon points="53.2 18.4 32.4 29 43.1 32.3 64 20.2 "></polygon>
        <polygon points="0 15.5 12.9 27.7 27.3 28.2 12.4 17.3 "></polygon>
        <polygon points="14.5 16.9 30.2 28.3 35 25.9 34.4 10 "></polygon>
        <polygon points="35.9 10.2 36.5 25.1 51.6 17.4 "></polygon>
        <polygon points="15.2 29.4 16.1 39 30.1 52.6 29.6 29.8 "></polygon>
        <polygon points="31.8 53.4 51.2 40.8 51.6 29.2 43.5 34 43 33.9 31.1 30.2 "></polygon>
    </symbol>

    <symbol id="icon-shipping" viewBox="0 0 64 33.2">
        <path d="M12.5 13.4c0-0.7-0.6-1.3-1.3-1.3H6.7c-0.7 0-1.3 0.6-1.3 1.3s0.6 1.3 1.3 1.3h4.4C11.9 14.7 12.5 14.1 12.5 13.4z"></path>
        <path d="M12.5 19.5c0-0.7-0.6-1.3-1.3-1.3H3.8c-0.7 0-1.3 0.6-1.3 1.3s0.6 1.3 1.3 1.3h7.3C11.9 20.8 12.5 20.2 12.5 19.5z"></path>
        <path d="M0 25.5c0 0.7 0.6 1.3 1.3 1.3h9.8c0.7 0 1.3-0.6 1.3-1.3s-0.6-1.3-1.3-1.3H1.3C0.6 24.2 0 24.8 0 25.5z"></path>
        <path d="M63.6 16.2L58.3 9c-0.3-0.4-0.9-0.7-1.4-0.7h-5.3V1.8c0-1-0.8-1.8-1.8-1.8H17c-1 0-1.8 0.8-1.8 1.8V27h4.2c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2h15.5c0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2H64v-9.8C64 16.8 63.9 16.5 63.6 16.2zM25.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C28.7 28.7 27.4 30.1 25.6 30.1zM43.5 8.6L33 19.6c-0.2 0.2-0.5 0.3-0.7 0.3 -0.2 0-0.4-0.1-0.6-0.2l-5.1-4c-0.4-0.4-0.5-1-0.2-1.4 0.4-0.4 1-0.5 1.4-0.2l4.4 3.5L42 7.2c0.4-0.4 1-0.4 1.5 0C43.8 7.5 43.9 8.2 43.5 8.6zM53.6 30.1c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1 1.7 0 3.1 1.4 3.1 3.1C56.7 28.7 55.3 30.1 53.6 30.1zM51.5 16.6v-5.2h4.6c0.4 0 0.7 0.2 0.9 0.5l3.7 4.7H51.5z"></path>
    </symbol>

    <symbol id="icon-free-shipping" viewBox="0 0 64 33.2">
        <path d="M12.5 13.4c0-.7-.6-1.3-1.3-1.3H6.7c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3h4.4c.8 0 1.4-.6 1.4-1.3ZM12.5 19.5c0-.7-.6-1.3-1.3-1.3H3.8c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3h7.3c.8 0 1.4-.6 1.4-1.3ZM0 25.5c0 .7.6 1.3 1.3 1.3h9.8c.7 0 1.3-.6 1.3-1.3s-.6-1.3-1.3-1.3H1.3c-.7 0-1.3.6-1.3 1.3ZM30.4 9.2h-1.8v2.7h1.8c.7 0 1.2-.6 1.2-1.4s-.6-1.3-1.2-1.3Z"></path>
        <path d="M63.6 16.2 58.3 9a2 2 0 0 0-1.4-.7h-5.3V1.8c0-1-.8-1.8-1.8-1.8H17c-1 0-1.8.8-1.8 1.8V27h4.2c0 3.4 2.8 6.2 6.2 6.2s6.2-2.8 6.2-6.2h15.5c0 3.4 2.8 6.2 6.2 6.2s6.2-2.8 6.2-6.2H64v-9.8c0-.4 0-.7-.4-1Zm-41.8.4H20V7.5h5.4v1.7h-3.6v2.2h3.5v1.7h-3.5v3.5Zm3.8 13.5c-1.7 0-3.1-1.4-3.1-3.1s1.4-3.1 3.1-3.1 3.1 1.4 3.1 3.1-1.3 3.1-3.1 3.1Zm6.2-13.5L30 13.4h-1.4v3.2h-1.8V7.5h3.6c1.7 0 3 1.4 3 3s-.7 2.2-1.8 2.7l2 3.4h-1.9Zm8.6 0h-5.6V7.5h5.6v1.7h-3.8v1.9H40v1.7h-3.4v2h3.8v1.7Zm6.9 0h-5.6V7.5h5.6v1.7h-3.8v1.9h3.4v1.7h-3.4v2h3.8v1.7Zm6.3 13.5c-1.7 0-3.1-1.4-3.1-3.1s1.4-3.1 3.1-3.1 3.1 1.4 3.1 3.1-1.4 3.1-3.1 3.1Zm-2.1-13.5v-5.2h4.6c.4 0 .7.2.9.5l3.7 4.7h-9.2Z"></path>
    </symbol>

    <symbol id="icon-established" viewBox="0 0 47.1 64">
        <path d="M44.6 25.6l2.5-2.2 -2.5-2.2 2-2.7 -2.9-1.7 1.4-3 -3.2-1 0.7-3.2 -3.3-0.3 0-3.3L36 6.3 35.3 3l-3.2 1 -1.3-3 -2.9 1.7L26 0l-2.5 2.2L21.1 0l-1.9 2.7L16.3 1l-1.3 3 -3.2-1 -0.7 3.2L7.8 5.9l0 3.3L4.5 9.6l0.7 3.2 -3.2 1 1.4 3 -2.9 1.7 2 2.7L0 23.4l2.5 2.2 -2 2.7L3.4 30 2 33l3.2 1 -0.7 3.2 3.3 0.3 0 3.3 3.3-0.4 0.7 3.2 3.2-1 1.3 3 2.9-1.7 1.9 2.7 2.5-2.2 2.5 2.2 1.9-2.7 2.9 1.7 1.3-3 3.2 1 0.7-3.2 3.3 0.4 0-3.3 3.3-0.3L41.9 34l3.2-1 -1.4-3 2.9-1.7L44.6 25.6zM23.6 41.3c-9.9 0-17.9-8-17.9-17.9 0-9.9 8-17.9 17.9-17.9 9.9 0 17.9 8 17.9 17.9C41.5 33.3 33.4 41.3 23.6 41.3z"></path>
        <path d="M11.1 22.5v-8.8h6.5v1.5h-4.8v2h4.4v1.5h-4.4v2.4h4.9v1.5H11.1z"></path>
        <path d="M18.8 19.7l1.7-0.2c0.1 0.6 0.3 1 0.6 1.3 0.3 0.3 0.7 0.4 1.3 0.4 0.6 0 1-0.1 1.3-0.4 0.3-0.2 0.4-0.5 0.4-0.9 0-0.2-0.1-0.4-0.2-0.5 -0.1-0.1-0.3-0.3-0.6-0.4 -0.2-0.1-0.7-0.2-1.4-0.4 -1-0.2-1.6-0.5-2-0.9 -0.5-0.5-0.8-1.1-0.8-1.8 0-0.4 0.1-0.9 0.4-1.3 0.3-0.4 0.6-0.7 1.1-0.9 0.5-0.2 1.1-0.3 1.7-0.3 1.1 0 1.9 0.2 2.5 0.7 0.6 0.5 0.9 1.1 0.9 1.9l-1.8 0.1c-0.1-0.5-0.2-0.8-0.5-1 -0.3-0.2-0.6-0.3-1.1-0.3 -0.5 0-0.9 0.1-1.2 0.3 -0.2 0.1-0.3 0.3-0.3 0.5 0 0.2 0.1 0.4 0.3 0.5 0.2 0.2 0.8 0.4 1.6 0.6 0.9 0.2 1.5 0.4 1.9 0.6 0.4 0.2 0.7 0.5 1 0.9C25.9 19 26 19.4 26 20c0 0.5-0.1 1-0.4 1.4 -0.3 0.4-0.7 0.8-1.2 1 -0.5 0.2-1.2 0.3-1.9 0.3 -1.1 0-2-0.3-2.6-0.8C19.3 21.4 18.9 20.7 18.8 19.7z"></path>
        <path d="M29.5 22.5v-7.3h-2.6v-1.5h7v1.5h-2.6v7.3H29.5z"></path>
        <path d="M33.6 22.5v-1.7h1.7v1.7H33.6z"></path>
        <path d="M14.3 33.2h-1.7v-6.4c-0.6 0.6-1.3 1-2.2 1.3v-1.5c0.4-0.1 0.9-0.4 1.4-0.8 0.5-0.4 0.9-0.9 1.1-1.4h1.4V33.2z"></path>
        <path d="M16.9 31.2l1.6-0.2c0 0.3 0.1 0.6 0.3 0.7 0.2 0.2 0.4 0.2 0.7 0.2 0.4 0 0.6-0.2 0.9-0.5 0.2-0.3 0.4-1 0.5-2 -0.4 0.5-1 0.7-1.6 0.7 -0.7 0-1.3-0.3-1.8-0.8 -0.5-0.5-0.8-1.2-0.8-2.1 0-0.9 0.3-1.6 0.8-2.2 0.5-0.5 1.2-0.8 2-0.8 0.9 0 1.6 0.3 2.2 1 0.6 0.7 0.9 1.8 0.9 3.4 0 1.6-0.3 2.8-0.9 3.5 -0.6 0.7-1.4 1.1-2.3 1.1 -0.7 0-1.2-0.2-1.7-0.6C17.3 32.5 17 31.9 16.9 31.2zM20.7 27.5c0-0.5-0.1-1-0.4-1.3 -0.3-0.3-0.5-0.5-0.9-0.5 -0.3 0-0.6 0.1-0.8 0.4 -0.2 0.2-0.3 0.7-0.3 1.2 0 0.6 0.1 1 0.3 1.3 0.2 0.3 0.5 0.4 0.8 0.4 0.3 0 0.6-0.1 0.8-0.4C20.6 28.4 20.7 28 20.7 27.5z"></path>
        <path d="M23.7 31.2l1.6-0.2c0 0.3 0.1 0.6 0.3 0.7 0.2 0.2 0.4 0.2 0.7 0.2 0.4 0 0.6-0.2 0.9-0.5 0.2-0.3 0.4-1 0.5-2 -0.4 0.5-1 0.7-1.6 0.7 -0.7 0-1.3-0.3-1.8-0.8 -0.5-0.5-0.8-1.2-0.8-2.1 0-0.9 0.3-1.6 0.8-2.2 0.5-0.5 1.2-0.8 2-0.8 0.9 0 1.6 0.3 2.2 1 0.6 0.7 0.9 1.8 0.9 3.4 0 1.6-0.3 2.8-0.9 3.5 -0.6 0.7-1.4 1.1-2.3 1.1 -0.7 0-1.2-0.2-1.7-0.6C24.1 32.5 23.8 31.9 23.7 31.2zM27.5 27.5c0-0.5-0.1-1-0.4-1.3 -0.3-0.3-0.5-0.5-0.9-0.5 -0.3 0-0.6 0.1-0.8 0.4 -0.2 0.2-0.3 0.7-0.3 1.2 0 0.6 0.1 1 0.3 1.3 0.2 0.3 0.5 0.4 0.8 0.4 0.3 0 0.6-0.1 0.8-0.4C27.4 28.4 27.5 28 27.5 27.5z"></path>
        <path d="M36.3 26.6l-1.6 0.2c0-0.3-0.1-0.6-0.3-0.7 -0.2-0.2-0.4-0.2-0.7-0.2 -0.4 0-0.7 0.2-0.9 0.5 -0.2 0.3-0.4 1-0.5 2 0.4-0.5 0.9-0.7 1.6-0.7 0.7 0 1.3 0.3 1.8 0.8 0.5 0.5 0.8 1.2 0.8 2.1 0 0.9-0.3 1.6-0.8 2.2 -0.5 0.5-1.2 0.8-2 0.8 -0.9 0-1.6-0.3-2.2-1 -0.6-0.7-0.9-1.8-0.9-3.4 0-1.6 0.3-2.8 0.9-3.5 0.6-0.7 1.4-1.1 2.3-1.1 0.7 0 1.2 0.2 1.7 0.6C35.9 25.3 36.1 25.9 36.3 26.6zM32.4 30.3c0 0.5 0.1 1 0.4 1.3 0.3 0.3 0.5 0.4 0.9 0.4 0.3 0 0.6-0.1 0.8-0.4 0.2-0.2 0.3-0.6 0.3-1.2 0-0.6-0.1-1-0.3-1.3 -0.2-0.3-0.5-0.4-0.8-0.4 -0.3 0-0.6 0.1-0.8 0.4C32.5 29.4 32.4 29.8 32.4 30.3z"></path>
        <polygon points="35.7 45.3 32.6 44.3 32.6 44.4 31.2 47.1 28.4 45.6 26.6 47.9 31.3 63.9 33 61.4 35.9 62.8 37.6 60.2 40.6 61.6 35.8 45.1 "></polygon>
        <polygon points="11.3 45.4 14.4 44.4 14.4 44.4 15.8 47.2 18.6 45.7 20.4 47.9 15.7 64 14 61.4 11.1 62.9 9.4 60.3 6.4 61.7 11.2 45.2 "></polygon>
    </symbol>

    <symbol id="icon-finance" viewBox="0 0 64 64">
        <path d="M32 0C14.3 0 0 14.3 0 32c0 17.7 14.3 32 32 32 17.7 0 32-14.3 32-32C64 14.3 49.7 0 32 0zM35.5 50.3c-2.7 0-5.7-2-8.4-2 -2.3 0-4.2 1.2-5.1 1.7l-1.6-2.6c4-2.9 6.6-6.7 6.6-10.6 0-1.5-0.5-3.1-1.1-4.4h-5.2V30h4.3l-1.8-3.5c-0.9-1.6-1.4-3.5-1.4-5.1 0-6.1 4.9-9.4 10.7-9.4 6.5 0 10.4 4.4 10.4 10.9h-3.2c-0.3-5.4-2.7-8.2-7.4-8.2 -4 0-7.1 2.4-7.1 6.4 0 1.8 1 4.4 2.1 6.5l1.3 2.4h8v2.3h-7.1c0.7 1.1 0.9 2.6 0.9 3.9 0 3.9-2.2 7.4-6.2 10.6l0.1 0.1c1.4-0.7 2.8-1.3 4.1-1.3 0.7 0 2.1 0.5 3.6 1 1.4 0.4 2.9 0.9 3.9 0.9 2.2 0 4.2-1.1 6.4-2.7l1.4 2.4C41.6 49.1 39 50.3 35.5 50.3z"></path>
    </symbol>

    <symbol id="logo-trustpilot" viewBox="0 0 257.9 64">
        <path d="M68 22.7h26v4.9H83.8v27.3h-5.6V27.5H68v-4.8Zm24.9 8.8h4.8V36l1-1.8a6 6 0 0 1 1.6-1.6c.6-.5 1.3-1 2-1.2a6 6 0 0 1 2.3-.5h1.9v5l-1.1-.2-1.1-.1a6 6 0 0 0-2.4.5c-.8.3-1.4.9-2 1.5a8.6 8.6 0 0 0-2 5.9v11h-5v-23ZM130 54.8h-5v-3.2h-.1a6.9 6.9 0 0 1-2.8 2.8 7.6 7.6 0 0 1-3.8 1c-3.1 0-5.3-.6-6.6-2.2-1.4-1.5-2-3.8-2-7V31.6h5v14.3c0 2 .5 3.5 1.3 4.3.8.8 1.9 1.3 3.3 1.3 1 0 2-.2 2.7-.5s1.3-.8 1.7-1.3c.5-.5.8-1.2 1-2s.3-1.6.3-2.5V31.6h5v23.2Zm8.8-7.5c.2 1.5.7 2.5 1.7 3.2 1 .6 2.2.9 3.6.9l1.6-.1 1.7-.4c.5-.2 1-.5 1.3-1s.5-.8.5-1.5-.3-1.2-.7-1.6a7 7 0 0 0-1.7-1l-2.4-.7-2.7-.6-2.8-.8c-1-.3-1.7-.7-2.4-1.2s-1.3-1.2-1.7-2-.6-1.8-.6-3 .3-2.2.9-3.1c.6-1 1.4-1.5 2.3-2.1 1-.5 2-1 3.2-1.1l3.3-.3a12.2 12.2 0 0 1 6.4 1.6c.9.6 1.6 1.3 2.2 2.2.6.9 1 2 1 3.3h-5.3c-.2-1.2-.8-2.1-1.7-2.5s-2-.6-3-.6h-1.3c-.5 0-1 .3-1.4.4l-1.1.7c-.3.3-.5.7-.5 1.2 0 .6.2 1 .7 1.5.4.4 1 .7 1.7 1l2.4.7 2.8.6 2.7.8c.9.3 1.7.7 2.4 1.2s1.3 1.2 1.7 1.9.7 1.7.7 2.9c0 1.4-.3 2.5-1 3.5-.6 1-1.5 1.7-2.4 2.3a15 15 0 0 1-7.1 1.7c-1.5 0-2.8-.2-4.1-.5a8.6 8.6 0 0 1-5.4-4 8 8 0 0 1-.8-3.6h5.3Zm16.9-15.8h3.9v-7h5v7h4.7v3.8h-4.6V49c0 .4.3.7.4 1 .2.3.4.5.7.6l1.4.2h1l1.2-.2v4c-.6 0-1.1 0-1.7.2H166c-1.4 0-2.4 0-3.3-.3-.8-.2-1.5-.6-2-1.1-.4-.5-.7-1.1-1-2l-.2-2.5V35.4h-4l.2-4Zm17.3 0h4.9v3.2c.8-1.4 1.8-2.3 3-3s2.8-.8 4.3-.8c1.8 0 3.4.3 4.8 1 1.4.6 2.5 1.5 3.4 2.7.9 1 1.6 2.5 2 3.9a16.3 16.3 0 0 1 .1 9.3 10 10 0 0 1-4.9 6.6 9 9 0 0 1-4.5 1l-2.2-.2a9.4 9.4 0 0 1-4.1-2c-.6-.4-1.1-1-1.5-1.5h-.1v11.6h-5.1V31.5h-.1ZM191 43.2c0-1-.1-2.1-.4-3.1a9 9 0 0 0-1.2-2.6 5 5 0 0 0-2-1.8 5 5 0 0 0-2.8-.7c-2.2 0-3.8.7-5 2.2a10 10 0 0 0-1.5 6c0 1.2 0 2.3.4 3.3a7 7 0 0 0 3.3 4.3 6 6 0 0 0 2.8.6 5.6 5.6 0 0 0 5-2.6c.5-.8.9-1.6 1-2.6.3-1 .4-2 .4-3Zm9-20.5h5v4.9h-5v-5Zm0 8.8h5v23.3h-5V31.5Zm9.7-8.8h5v32h-5v-32Zm20.9 32.7c-2 0-3.5-.3-5-1a11 11 0 0 1-3.7-2.4c-1-1.1-1.8-2.4-2.3-4a16.2 16.2 0 0 1 0-9.7c.5-1.5 1.3-2.8 2.3-4 1-1 2.2-1.8 3.7-2.4 1.5-.6 3-1 5-1s3.5.4 5 1a11 11 0 0 1 3.7 2.5c1 1 1.8 2.4 2.3 3.9s.8 3 .8 4.9-.3 3.4-.8 4.9-1.3 2.8-2.3 3.9a9.7 9.7 0 0 1-3.7 2.5c-1.5.6-3.1.9-5 .9Zm0-4a6 6 0 0 0 3-.7c.8-.5 1.5-1.1 2-2 .6-.7 1-1.6 1.3-2.5.2-1 .4-2 .4-3a10.3 10.3 0 0 0-1.6-5.6 5.5 5.5 0 0 0-2.1-2c-.8-.4-1.8-.6-3-.6a6 6 0 0 0-3 .7c-.8.5-1.5 1-2.1 1.9-.5.8-1 1.6-1.2 2.6-.2 1-.4 2-.4 3a10.3 10.3 0 0 0 1.6 5.6c.5.8 1.2 1.4 2 1.9a6 6 0 0 0 3 .7Zm13.2-20h3.9v-7h5v7h4.7v3.9h-4.6V49c0 .4.3.7.4 1 .2.3.4.5.7.6l1.4.2h1l1.2-.2v4c-.6 0-1.1 0-1.7.2H254c-1.4 0-2.4 0-3.3-.3-.8-.2-1.5-.6-2-1.1-.4-.5-.7-1.1-1-2l-.2-2.5V35.4h-4l.2-4Z" fill="#191919"></path>
        <path d="M62 22.7H38.5L31.3.3 24 22.7.5 22.6l19 13.8-7.3 22.3 19-13.8 19 13.8-7.3-22.3 19-13.7Z" fill="#00b67a"></path>
        <path d="M44.7 41.5 43 36.4l-11.8 8.5 13.4-3.4Z" fill="#005128"></path>
    </symbol>

    <symbol xmlns="http://www.w3.org/2000/svg" id="icon-trustpilot-star" viewBox="0 0 283.5 283.5">
        <path d="M0 0v283.5h283.6V0H0Zm142.4 192.9v-.1l43.9-9.2 17.5 53.8-61.4-44.5Zm-61.5 44.5 23.5-72.1-61.5-44.6h76l23.4-72.2 23.5 72.2h76L80.9 237.4Z"></path>
    </symbol>

    <symbol id="icon-chat" viewBox="0 0 32 26.8">
        <path d="M30.3 0H14.7c-1 0-1.7 0.8-1.7 1.7v1.8h9.7c1.5 0 2.7 1.2 2.7 2.7v7.6h3.1l3.5 3.5V1.7C32 0.8 31.2 0 30.3 0z"></path>
        <path d="M22.5 4.3H2.2C1 4.3 0 5.3 0 6.5v20.2l4.5-4.5h18c1.2 0 2.2-1 2.2-2.2V6.5C24.7 5.3 23.7 4.3 22.5 4.3zM20.3 17.5H5c-0.3 0-0.6-0.2-0.6-0.6 0-0.3 0.2-0.6 0.6-0.6h15.4c0.3 0 0.6 0.2 0.6 0.6C20.9 17.3 20.6 17.5 20.3 17.5zM20.3 14.1H5c-0.3 0-0.6-0.2-0.6-0.6S4.7 13 5 13h15.4c0.3 0 0.6 0.2 0.6 0.6S20.6 14.1 20.3 14.1zM20.3 10.8H5c-0.3 0-0.6-0.2-0.6-0.6S4.7 9.7 5 9.7h15.4c0.3 0 0.6 0.2 0.6 0.6S20.6 10.8 20.3 10.8z"></path>
    </symbol>

    <symbol id="icon-qa" viewBox="0 0 32 26.8">
        <path d="M30.3 0H14.7c-1 0-1.7 0.8-1.7 1.7v1.8h9.7c1.5 0 2.7 1.2 2.7 2.7v7.6h3.1l3.5 3.5V1.7C32 0.8 31.2 0 30.3 0z"></path>
        <path d="M22.5 4.3H2.2C1 4.3 0 5.3 0 6.5v20.2l4.5-4.5h18c1.2 0 2.2-1 2.2-2.2V6.5C24.7 5.3 23.7 4.3 22.5 4.3zM13.6 19.8h-2.5v-2.5h2.5V19.8zM15.1 13.8c-0.7 0.5-1.4 0.9-1.6 1.9v0.6h-2.2v-0.7c0.1-1.4 0.8-2 1.4-2.5 0.6-0.5 1.2-0.9 1.2-1.7 0-1-0.5-1.4-1.4-1.4 -1.2 0-1.6 0.9-1.6 2.1H8.5c0-2.3 1.6-4 3.9-4 3 0 4 1.9 4 3.1C16.4 12.7 15.7 13.3 15.1 13.8z"></path>
    </symbol>

    <symbol id="logo-afem" viewBox="0 0 128 49.5">
        <path d="M39 15.6c-0.1 0.1-0.2 0.1-0.4 0.1 -0.3 0-0.4-0.1-0.4-0.5 -0.3 0.3-0.7 0.5-1.1 0.5 -0.6 0-1-0.3-1-0.9 0-0.7 0.5-0.8 1-0.9 0.6-0.1 1-0.1 1-0.5 0-0.4-0.4-0.5-0.7-0.5 -0.4 0-0.7 0.1-0.8 0.6h-0.5c0-0.8 0.6-1 1.3-1 0.6 0 1.2 0.1 1.2 0.8v1.6c0 0.2 0 0.3 0.2 0.3 0 0 0.1 0 0.2 0V15.6zM38.1 14c-0.2 0.1-0.6 0.1-0.9 0.2 -0.3 0.1-0.6 0.2-0.6 0.6 0 0.3 0.3 0.5 0.6 0.5 0.7 0 0.9-0.4 0.9-0.7V14z" fill="#DBDEDD"></path>
        <path d="M39.6 14.6c0 0.5 0.4 0.6 0.8 0.6 0.3 0 0.7-0.1 0.7-0.5 0-0.4-0.5-0.5-1-0.6 -0.5-0.1-1-0.3-1-0.9 0-0.6 0.6-0.9 1.1-0.9 0.7 0 1.2 0.2 1.3 1H41c0-0.4-0.4-0.5-0.7-0.5 -0.3 0-0.7 0.1-0.7 0.4 0 0.4 0.5 0.4 1 0.5 0.5 0.1 1 0.3 1 0.9 0 0.7-0.7 1-1.3 1 -0.7 0-1.3-0.3-1.3-1H39.6z" fill="#DBDEDD"></path>
        <path d="M42.4 14.6c0 0.5 0.4 0.6 0.8 0.6 0.3 0 0.7-0.1 0.7-0.5 0-0.4-0.5-0.5-1-0.6 -0.5-0.1-1-0.3-1-0.9 0-0.6 0.6-0.9 1.1-0.9 0.7 0 1.2 0.2 1.3 1h-0.5c0-0.4-0.4-0.5-0.7-0.5 -0.3 0-0.7 0.1-0.7 0.4 0 0.4 0.5 0.4 1 0.5 0.5 0.1 1 0.3 1 0.9 0 0.7-0.7 1-1.3 1 -0.7 0-1.3-0.3-1.3-1H42.4z" fill="#DBDEDD"></path>
        <path d="M46.2 12.4c1 0 1.5 0.7 1.5 1.6 0 0.9-0.5 1.6-1.5 1.6s-1.5-0.7-1.5-1.6C44.7 13.1 45.2 12.4 46.2 12.4zM46.2 15.2c0.5 0 1-0.4 1-1.2 0-0.8-0.4-1.2-1-1.2 -0.5 0-1 0.4-1 1.2C45.2 14.8 45.7 15.2 46.2 15.2z" fill="#DBDEDD"></path>
        <path d="M50.2 13.5c-0.1-0.4-0.3-0.6-0.8-0.6 -0.7 0-1 0.6-1 1.2 0 0.6 0.3 1.1 0.9 1.1 0.5 0 0.8-0.3 0.8-0.7h0.5c-0.1 0.7-0.6 1.2-1.4 1.2 -0.9 0-1.4-0.7-1.4-1.6 0-0.9 0.5-1.6 1.5-1.6 0.7 0 1.3 0.3 1.3 1.1H50.2z" fill="#DBDEDD"></path>
        <path d="M51.7 11.9h-0.5v-0.6h0.5V11.9zM51.1 12.5h0.5v3.1h-0.5V12.5z" fill="#DBDEDD"></path>
        <path d="M55 15.6c-0.1 0.1-0.2 0.1-0.4 0.1 -0.3 0-0.4-0.1-0.4-0.5 -0.3 0.3-0.7 0.5-1.1 0.5 -0.6 0-1-0.3-1-0.9 0-0.7 0.5-0.8 1-0.9 0.6-0.1 1-0.1 1-0.5 0-0.4-0.4-0.5-0.7-0.5 -0.4 0-0.7 0.1-0.8 0.6h-0.5c0-0.8 0.6-1 1.3-1 0.6 0 1.2 0.1 1.2 0.8v1.6c0 0.2 0 0.3 0.2 0.3 0 0 0.1 0 0.2 0V15.6zM54.2 14c-0.2 0.1-0.6 0.1-0.9 0.2 -0.3 0.1-0.6 0.2-0.6 0.6 0 0.3 0.3 0.5 0.6 0.5 0.7 0 0.9-0.4 0.9-0.7V14z" fill="#DBDEDD"></path>
        <path d="M56 12.5h0.6v0.4H56v1.9c0 0.2 0.1 0.3 0.4 0.3h0.2v0.4h-0.4c-0.5 0-0.7-0.1-0.7-0.7v-2H55v-0.4h0.5v-0.9H56V12.5z" fill="#DBDEDD"></path>
        <path d="M57.5 11.9H57v-0.6h0.5V11.9zM57 12.5h0.5v3.1H57V12.5z" fill="#DBDEDD"></path>
        <path d="M59.5 12.4c1 0 1.5 0.7 1.5 1.6 0 0.9-0.5 1.6-1.5 1.6S58 14.9 58 14C58 13.1 58.5 12.4 59.5 12.4zM59.5 15.2c0.5 0 1-0.4 1-1.2 0-0.8-0.4-1.2-1-1.2 -0.5 0-1 0.4-1 1.2C58.5 14.8 58.9 15.2 59.5 15.2z" fill="#DBDEDD"></path>
        <path d="M61.4 12.5h0.5V13h0c0.2-0.4 0.6-0.6 1-0.6 0.8 0 1.1 0.5 1.1 1.1v2h-0.5v-2.1c0-0.4-0.2-0.6-0.6-0.6 -0.6 0-0.9 0.4-0.9 1v1.7h-0.5V12.5z" fill="#DBDEDD"></path>
        <path d="M66.2 12.9h-0.5v-0.4h0.5V12c0-0.5 0.3-0.8 0.9-0.8 0.1 0 0.2 0 0.3 0v0.4c-0.1 0-0.2 0-0.3 0 -0.2 0-0.4 0.1-0.4 0.3v0.4h0.6v0.4h-0.6v2.6h-0.5V12.9z" fill="#DBDEDD"></path>
        <path d="M68.9 12.4c1 0 1.5 0.7 1.5 1.6 0 0.9-0.5 1.6-1.5 1.6s-1.5-0.7-1.5-1.6C67.4 13.1 67.9 12.4 68.9 12.4zM68.9 15.2c0.5 0 1-0.4 1-1.2 0-0.8-0.4-1.2-1-1.2s-1 0.4-1 1.2C67.9 14.8 68.4 15.2 68.9 15.2z" fill="#DBDEDD"></path>
        <path d="M70.8 12.5h0.5v0.6h0c0.2-0.5 0.6-0.7 1.1-0.7V13c-0.8 0-1.1 0.5-1.1 1.2v1.4h-0.5V12.5z" fill="#DBDEDD"></path>
        <path d="M9.8 23.5c-0.4 2.2-2 3.4-4.3 3.4 -3.2 0-4.7-2.2-4.8-5.3 0-3 2-5.2 4.7-5.2 3.5 0 4.6 3.3 4.5 5.7H2.4c-0.1 1.7 0.9 3.3 3.1 3.3 1.4 0 2.3-0.7 2.6-2H9.8zM8.2 20.7c-0.1-1.6-1.3-2.8-2.9-2.8 -1.7 0-2.7 1.3-2.9 2.8H8.2z" fill="#DBDEDD"></path>
        <path d="M10.6 12.9h1.6v13.8h-1.6V12.9z" fill="#DBDEDD"></path>
        <path d="M22.3 23.5c-0.4 2.2-2 3.4-4.3 3.4 -3.2 0-4.7-2.2-4.8-5.3 0-3 2-5.2 4.7-5.2 3.5 0 4.6 3.3 4.5 5.7h-7.5c-0.1 1.7 0.9 3.3 3.1 3.3 1.4 0 2.3-0.7 2.6-2H22.3zM20.7 20.7c-0.1-1.6-1.3-2.8-2.9-2.8 -1.7 0-2.7 1.3-2.9 2.8H20.7z" fill="#DBDEDD"></path>
        <path d="M29.8 19.9c-0.3-1.3-1.1-2-2.5-2 -2.4 0-3.1 1.9-3.1 3.9 0 1.8 0.8 3.7 2.9 3.7 1.6 0 2.5-0.9 2.7-2.4h1.7c-0.4 2.4-1.9 3.9-4.4 3.9 -3.1 0-4.7-2.1-4.7-5.1 0-3 1.5-5.4 4.7-5.4 2.3 0 4.1 1.1 4.3 3.4H29.8z" fill="#DBDEDD"></path>
        <path d="M34.6 16.7h2v1.4h-2v6.2c0 0.8 0.2 0.9 1.2 0.9h0.8v1.4h-1.3c-1.7 0-2.4-0.3-2.4-2.2v-6.4h-1.7v-1.4H33v-3h1.6V16.7z" fill="#DBDEDD"></path>
        <path d="M37.3 16.7h1.5v2.1h0c0.8-1.6 1.9-2.4 3.7-2.3v1.7c-2.6 0-3.6 1.5-3.6 4v4.4h-1.6V16.7z" fill="#DBDEDD"></path>
        <path d="M46.6 16.5c3.2 0 4.8 2.3 4.8 5.2 0 2.9-1.7 5.2-4.8 5.2 -3.2 0-4.8-2.3-4.8-5.2C41.8 18.8 43.5 16.5 46.6 16.5zM46.6 25.5c1.7 0 3.1-1.4 3.1-3.8 0-2.4-1.4-3.8-3.1-3.8 -1.7 0-3.1 1.4-3.1 3.8C43.5 24.1 44.9 25.5 46.6 25.5z" fill="#DBDEDD"></path>
        <path d="M52.3 16.7h1.5v1.6h0c0.7-1.2 1.8-1.8 3.2-1.8 2.6 0 3.4 1.5 3.4 3.7v6.6H59v-6.8c0-1.2-0.8-2-2-2 -2 0-3 1.3-3 3.1v5.6h-1.6V16.7z" fill="#DBDEDD"></path>
        <path d="M71.6 19.9c-0.3-1.3-1.1-2-2.5-2 -2.4 0-3.1 1.9-3.1 3.9 0 1.8 0.8 3.7 2.9 3.7 1.6 0 2.5-0.9 2.7-2.4h1.7c-0.4 2.4-1.9 3.9-4.4 3.9 -3.1 0-4.7-2.1-4.7-5.1 0-3 1.5-5.4 4.7-5.4 2.3 0 4.1 1.1 4.3 3.4H71.6z" fill="#DBDEDD"></path>
        <path d="M28.4 27.6h1.5v1.5h0c0.7-1.1 1.9-1.7 3.2-1.7 1.2 0 2.3 0.5 2.7 1.7 0.7-1.1 1.9-1.7 3.1-1.7 2 0 3.3 0.8 3.3 2.9v7.3h-1.6v-6.5c0-1.2-0.3-2.2-1.9-2.2 -1.6 0-2.6 1-2.6 2.5v6.2h-1.6v-6.5c0-1.3-0.4-2.2-1.9-2.2 -2 0-2.7 1.8-2.7 2.5v6.2h-1.6V27.6z" fill="#DBDEDD"></path>
        <path d="M52 37.6h-1.5V36h0c-0.7 1.2-1.8 1.8-3.2 1.8 -2.6 0-3.4-1.5-3.4-3.7v-6.6h1.6v6.8c0 1.2 0.8 2 2 2 2 0 3-1.3 3-3.1v-5.6H52V37.6z" fill="#DBDEDD"></path>
        <path d="M54.4 34.5c0.1 1.5 1.3 1.9 2.7 1.9 1 0 2.4-0.2 2.4-1.5 0-1.3-1.6-1.5-3.3-1.9 -1.6-0.4-3.3-0.9-3.3-2.8 0-2 2-2.8 3.7-2.8 2.2 0 4 0.7 4.1 3.1h-1.6c-0.1-1.3-1.2-1.7-2.3-1.7 -1 0-2.1 0.3-2.1 1.3 0 1.2 1.7 1.4 3.3 1.7 1.6 0.4 3.3 0.9 3.3 2.8 0 2.4-2.2 3.1-4.2 3.1 -2.2 0-4.1-0.9-4.2-3.4H54.4z" fill="#DBDEDD"></path>
        <path d="M71.6 30.8c-0.3-1.3-1.1-2-2.5-2 -2.4 0-3.1 1.9-3.1 3.9 0 1.8 0.8 3.7 2.9 3.7 1.6 0 2.5-0.9 2.7-2.4h1.7c-0.4 2.4-1.9 3.9-4.4 3.9 -3.1 0-4.7-2.1-4.7-5.1 0-3 1.5-5.4 4.7-5.4 2.3 0 4.1 1.1 4.3 3.4H71.6z" fill="#DBDEDD"></path>
        <rect x="61.8" y="16.3" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="20.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="22.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="24.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="26.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="28.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="30.3" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="32.4" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="34.3" width="1.9" height="1.3" fill="#CD281C"></rect>
        <rect x="61.8" y="36.3" width="1.9" height="1.3" fill="#CD281C"></rect>
        <path d="M96.8 49.2c-12.6 0-22.9-10.3-22.9-22.9 0-12.6 10.3-22.9 22.9-22.9s22.9 10.3 22.9 22.9C119.7 38.9 109.4 49.2 96.8 49.2zM96.8 4.7c-11.9 0-21.6 9.7-21.6 21.6s9.7 21.6 21.6 21.6 21.6-9.7 21.6-21.6S108.7 4.7 96.8 4.7z" fill="#DBDEDD"></path>
        <path d="M118.7 5.2c1.2-0.8 2.4-1.6 3.7-2.4 0.8-0.5 1.5-0.9 2.3-1.3 0.9-0.5 1.7-0.9 2.6-1.4 0.2-0.1 0.3-0.1 0.5 0.1 0.1 0.1 0.2 0.2 0.2 0.3 0.1 0.1 0.1 0.3 0 0.4 -0.4 0.3-0.8 0.6-1.2 1 -0.5 0.4-4.9 4.2-5.2 4.5 -0.5 0.5-1.9 1.8-2.1 1.9 -1.1 1-2.2 2.1-3.3 3.2 -0.4 0.4-4.5 4.9-4.9 5.4 -0.5 0.6-4.2 5.2-4.7 5.9 -0.8 1.1-6.4 9.5-7 10.5 -0.5 0.9-1.1 1.8-1.6 2.7 -0.2 0.4-0.4 0.7-0.7 1.1 -0.1 0.1-0.2 0.1-0.4 0 -0.2-0.2-0.4-0.4-0.6-0.6 -2.3-2.3-4.6-4.6-6.9-6.9 -1.3-1.4-4.9-4.9-5.3-5.3 -0.6-0.6-1.1-1.1-1.7-1.7 -0.1-0.1-0.2-0.1-0.1-0.2 0.1-0.1 0.2-0.3 0.4-0.4 0.1-0.1 0.2-0.2 0.4-0.1 0.1 0.1 2.6 1.3 3.7 1.8 0.8 0.4 4 2 4.8 2.4 1 0.5 2 1 3 1.5 0.1 0 0.6-0.4 0.8-0.7 0.6-0.7 2.9-3.5 3.6-4.2 0.5-0.5 2.6-2.8 3.2-3.4 0.9-0.9 3.7-3.7 4.3-4.2 0.6-0.6 3.6-3.2 4.1-3.6C110.9 11.2 118 5.6 118.7 5.2z" fill="#CD281C"></path>
    </symbol>

    <symbol id="icon-history" viewBox="0 0 283.5 283.5">
        <path d="M141.7 283.5c-36.2 0-67.8-12-94.7-36-26.9-24-42.3-54-46.2-90H33a105.2 105.2 0 0 0 36.4 67.7 106.9 106.9 0 0 0 72.2 26.8c30.7 0 56.8-10.7 78.2-32.1 21.4-21.4 32-47.5 32-78.2S241.4 85 220 63.6a106.4 106.4 0 0 0-78.2-32.1c-18 0-35 4.2-50.8 12.6a117 117 0 0 0-39.7 34.6h43.3v31.5H0V15.7h31.5v37A140.4 140.4 0 0 1 141.7 0 137 137 0 0 1 197 11.3a144 144 0 0 1 75.2 75.2c7.5 17.2 11.2 35.6 11.2 55.3s-3.7 38.1-11.2 55.3a144 144 0 0 1-75.2 75.2 137.1 137.1 0 0 1-55.3 11.2Zm44.1-75.6L126 148V63h31.5v72.4l50.4 50.4-22 22Z"></path>
    </symbol>

    <symbol id="icon-titles" viewBox="0 0 283.5 283.5">
        <path d="M281.4.3v204.3c0 24-27.3 43.6-61 43.6s-61.2-19.5-61.2-43.6 27.4-43.7 61.1-43.7c17.1 0 32.6 5 43.7 13.1V73.6l-139.7 31v134.9c0 24.1-27.4 43.7-61.2 43.7s-61-19.6-61-43.7 27.3-43.7 61-43.7c17.1 0 32.6 5 43.7 13.1V38.6L281.4.3Z"></path>
    </symbol>

    <symbol id="icon-artists" viewBox="0 0 283.5 283.5">
        <path d="M231 112h52.2v29.7h-29.8v82a36 36 0 0 1-10.8 26.3c-7.2 7.2-16 10.8-26.4 10.8s-19.2-3.6-26.4-10.8c-7.3-7.2-10.8-16-10.8-26.4s3.6-19.2 10.8-26.4a36 36 0 0 1 26.4-10.8 35 35 0 0 1 14.9 3V112ZM.4 260.8v-41.7a43.4 43.4 0 0 1 23.8-39.4c15.4-7.7 31-13.5 47-17.3a204.6 204.6 0 0 1 110.5 3.9c-5 3-9.5 6.6-13.4 10.8-4 4.2-7.5 8.8-10.5 13.8a175.9 175.9 0 0 0-38.3-4.5c-14.1 0-28 1.7-41.7 5.2s-27 8.4-40.2 14.9a14.6 14.6 0 0 0-7.4 12.6v12h119.4c.5 5 1.7 9.9 3.6 14.8s4.4 10 7.6 15H.3Zm119.1-119a57.3 57.3 0 0 1-42-17.6c-11.7-11.6-17.6-25.6-17.6-42s5.9-30.4 17.5-42C89 28.4 103 22.5 119.4 22.5s30.4 5.9 42 17.5c11.7 11.7 17.6 25.7 17.6 42s-5.9 30.5-17.5 42.1a57.3 57.3 0 0 1-42.1 17.5Zm0-29.8c8.2 0 15.2-3 21-8.8 5.9-5.8 8.8-12.8 8.8-21s-3-15.2-8.8-21c-5.8-5.9-12.8-8.8-21-8.8s-15.2 3-21 8.7c-5.9 5.9-8.8 12.9-8.8 21s3 15.3 8.8 21.1 12.8 8.8 21 8.8Z"></path>
    </symbol>

    <symbol id="icon-labels" viewBox="0 0 283.5 283.5">
        <path d="M141.7 0a141.7 141.7 0 1 0 0 283.5 141.7 141.7 0 0 0 0-283.5Zm0 160.2a18.4 18.4 0 1 1 0-36.9 18.4 18.4 0 0 1 0 36.9Z"></path>
    </symbol>

    <symbol id="icon-products" viewBox="0 0 283.5 283.5">
        <path d="m123.5 277.8-91-52.3A35.2 35.2 0 0 1 14.3 194V89.4A35.4 35.4 0 0 1 32.5 58l91-52.3a35.7 35.7 0 0 1 36.4 0L251 58a35.4 35.4 0 0 1 18.2 31.4v104.7a35.4 35.4 0 0 1-18.2 31.4l-91 52.3a35.7 35.7 0 0 1-36.4 0Zm0-41.9v-83.7l-72.8-42.3V194l72.8 41.8Zm36.4 0 72.8-41.8v-84.2L160 152.2V236Zm-18.2-115.1 72-42.3-72-41.4-71.9 41.4 72 42.3Z"></path>
    </symbol>

    <symbol id="icon-brands" viewBox="0 0 283.5 283.5">
        <path d="M0 105.6v-33h121.9v33H0Zm41.4 105.3V72.5h38.9V211H41.4ZM136.5 211V72.4h28.2l51.5 75.5h-12.3l51.4-75.5h28.2V211H245v-74.6l5.6 1.5-28.2 40.5h-24.9l-28-40.5 5.5-1.5v74.6h-38.5Z"></path>
    </symbol>

    <symbol id="icon-equipment" viewBox="0 0 283.5 283.5">
        <path d="M31.5 283.5c-8.7 0-16-3.1-22.2-9.3A30.3 30.3 0 0 1 0 252V31.5c0-8.7 3-16 9.3-22.3A30.3 30.3 0 0 1 31.4 0H252c8.6 0 16 3 22.2 9.3a30.3 30.3 0 0 1 9.3 22.2V252c0 8.6-3.1 16-9.3 22.2a30.3 30.3 0 0 1-22.2 9.3H31.5Zm0-31.5h51.2V181h-4c-4.4 0-8.2-1.5-11.2-4.5s-4.5-6.8-4.5-11.3V31.5H31.5V252Zm169.3 0H252V31.5h-31.5v133.9c0 4.4-1.5 8.2-4.6 11.2-3 3-6.7 4.5-11.2 4.5h-4V252Zm-94.5 0h70.9V181h-4c-4.4 0-8.2-1.5-11.2-4.5s-4.5-6.8-4.5-11.3V31.5H126v133.9c0 4.4-1.5 8.2-4.5 11.2s-6.8 4.5-11.3 4.5h-4V252Z"></path>
    </symbol>

    <symbol id="icon-tags" viewBox="0 0 283.5 283.5">
        <path d="m47.3 267.6 15.7-63H0l8-31.4h63l15.6-63h-63l8-31.4h63l15.7-63h31.4l-15.7 63h63l15.7-63h31.5l-15.8 63h63l-7.9 31.4h-63l-15.7 63h63l-7.9 31.5h-63l-15.7 63h-31.5l15.8-63h-63l-15.7 63H47.3Zm55-94.4h63l15.8-63h-63l-15.7 63Z"></path>
    </symbol>
  </svg>
  <div class="secure-pay-container__lock flex-row">
    <svg class="icon-secure mr-1">
      <use xlink:href="#icon-secure"></use>
    </svg>
    <span>Compra 100% Segura</span>
  </div>

  <div class="secure-pay-container__logos">
    <svg class="logo-visa ">
      <use xlink:href="#logo-visa"></use>
    </svg>
    <svg class="logo-mastercard ">
      <use xlink:href="#logo-mastercard"></use>
    </svg>
    <svg class="logo-maestro ">
      <use xlink:href="#logo-maestro"></use>
    </svg>
    <svg class="logo-amex ">
      <use xlink:href="#logo-amex"></use>
    </svg>
    <img
      src="{{ 'addi.png' | asset_url }}"
      alt="Addi logo"
      width="28"
      height="28"
    >
    {% comment %}
      <svg class="logo-apple-pay ">
        <use xlink:href="#logo-apple-pay"></use>
      </svg>
      <svg class="logo-gpay ">
        <use xlink:href="#logo-gpay"></use>
      </svg>
      <svg class="logo-paypal mt-1">
        <use xlink:href="#logo-paypal"></use>
      </svg>
    {% endcomment %}
  </div>
</div>
