@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.header-search {
  display: flex;
  align-items: center;
  width: 500px;
}

.header-search input {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0 16px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* border: 5px solid #9c372f; */
  background-color: #efefef;
  /* border-radius: 5px; */
  /* background-color: #fbf8ff; */
  color: #0e0e1c;
}

.header-search input:focus-visible,
.header-search input:focus {
  box-shadow: none;
}



.header-icons {
  display: flex;
  align-items: center;
}

.header-icons .header__icon {
  color: #2b265e;
  width: auto;
  display: flex;
  align-items: center;
}

.header-icons .header-icon svg {
  width: 24px !important;
  height: 24px !important;
}

.header-icons .header__icon--account svg {
  vertical-align: middle;
}

.header-icons .header__icon--cart {
  margin-right: 16px;
}

.header-icons .cart-count-bubble {
  background-color: #2b265e;
  bottom: 10px;
  left: 27px;
  height: 1.4rem;
  width: 1.4rem;
  color: #fbf8ff;
  font-family: Bebas Neue, sans-serif;
  font-size: 14px;
}

/** 
NEGRO => #0E0E1C
CIAN => #00FFF7
GRIS => #D4D4D4
*/

/***
MORADO  => 2b265e

ROJO => #9c372f

*/

/* Sticky Header Styles */
header.flex-column {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  header.flex-column {
    background-color: #2b265e;
  }
  .header-icons .header__icon,
  .header-menu__mobile {
    color: #fff !important;
  }
}

/* Add padding to body to prevent content from hiding behind fixed header */
body {
  padding-top: var(
    --header-height,
    106px
  ); /* Adjust this value based on your header height */
}

/* Ensure header content stays visible */
.header-logo,
.header-search,
.header-icons {
  transition: all 0.3s ease-in-out;
}

.header-icons a {
  padding: 0 12px;
}

@media screen and (max-width: 768px) {
  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
}

/* Optional: Reduce logo size when sticky */
header.flex-column .header__heading-logo {
  max-height: 45px;
  width: auto;
  transition: all 0.3s ease-in-out;
}

/* Optional: Adjust search bar when sticky */
.header-search {
  max-width: 400px;
  transition: all 0.3s ease-in-out;
}

/* Ensure mobile responsiveness */

.header-menu__mobile {
  outline: none;
  border: none;
  background: none;
  color: #2b265e;
  padding: 0;
  cursor: pointer;
  display: flex;
align-items: center;
}

.search-input {
  display: flex;
  width: 100%;
}

.header-search-mobile__container .header-search {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .header-icons .header__icon--cart {
    margin-right: 0;
  }

  /* .header-logo {
    margin-left: 14%;
  } */
}
